//==root styles
[tabindex='-1']:focus{
	outline: none;
}

//==element modules
*{
	box-sizing: border-box;
}
a{
	margin: 0;
	text-decoration-skip: ink;
}
b, strong{
	//-# only really necessary if using @font-face with a bold variant
	@extend %font-bold;
	color: map-get($colors, strong);
}
b em, b i, em b, em strong, i b, i strong, strong em, strong i{
	//-# only really necessary if using @font-face with a bold italic variant and having these combinations of elements.  Uncomment if desired.
	//-! @extend %font-boldItalic;
}
button{
	font-size: 1em;
}
code{
	background: map-get($colors, codeBG);
	color: map-get($colors, codeFG);
	display: inline-block; //-# prevents wrapping of element
	font-family: inherit;
	padding: 0.1em 0.4em;
	vertical-align: middle; //-# baseline seems off, this looks best
	pre &{
		display: block;
		overflow: auto;
		padding: 1em;
	}
}
em, i{
	//-# only really necessary if using @font-face with an italic variant
	@extend %font-italic;
	color: map-get($colors, strong);
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	@extend %block;
	@extend %font-heading;
	color: map-get($colors, heading);
	* + &{
		@include remFallback('margin-top', 25);
	}

	a{
		color: inherit;
	}
	em, i{
		//-# only really necessary if using @font-face with a bold italic variant and having these combinations of elements.  Uncomment if desired.
		//-! @extend %font-boldItalic;
	}
}
h1,.h1{
	@include fontSize(map-get($fontSizes, h1));
}
h2,.h2{
	@include fontSize(map-get($fontSizes, h2));
}
h3,.h3{
	@include fontSize(map-get($fontSizes, h3));
}
h4,.h4{
	@include fontSize(map-get($fontSizes, h4));
}
h5,.h5{
	@include fontSize(map-get($fontSizes, h5));
}
h6,.h6{
	@include fontSize(map-get($fontSizes, h6));
}
hr{
	border: 0;
	background: map-get($colors, border);
	height: 2px;
	margin: 1.5em 0;
	opacity: 0.4;
	&:last-child{
		display: none;
	}
}
li{
	& + &{
		margin-top: 0.5em;
	}
}
input, select, td, textarea, th{
	font-size: 1em;
}
ins{
	background: map-get($colors, insertBG);
	text-decoration: none;
}
p{
	@extend %block;
}
pre{
	@extend %block;
	font-family: inherit;
}
table{
	@extend %block;
	border-collapse: collapse;
	border-spacing: 0;
}
table
,td
,th
,tr
{
	margin: 0;
	padding: 0;
}
