/*-#
using sprite map
pluses:
- fully within CSS, versus inline svg / img
- single request, versus inline svg / img
- cacheable, versus inline svg
- easier alignment versus font
- slightly smaller gzipped for new browsers, versus font / img
minuses:
- can't directly change colors, versus font / inline svg
- can't easily change size, versus font / inline svg / img
- must load all at once, versus inline svg / img
*/
@mixin icm($size: 32){
	content: '';
	display: inline-block;
	background-image: url('/bundles/public/icomoon/sprite.png');
	background-image: url('/bundles/public/icomoon/sprite.svg');
	background-repeat: no-repeat;
	@include remFallback('background-size', ((1412 / 32) * $size * 1px) ((124 / 32) * $size * 1px));
	flex: 0 0 auto;
	speak: none;
}
%icm{
	@include icm();
}
%icm-email{
	@extend %icm;
	@include remFallback('background-position', 0 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-packagist{
	@extend %icm;
	@include remFallback('background-position', -92px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-home{
	@extend %icm;
	@include remFallback('background-position', -184px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-writings{
	@extend %icm;
	@include remFallback('background-position', -276px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-file-text{
	@extend %icm;
	@include remFallback('background-position', -368px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-about{
	@extend %icm;
	@include remFallback('background-position', -460px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-portfolio{
	@extend %icm;
	@include remFallback('background-position', -552px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
@mixin icm-search($size: 32){
	@include icm($size);
	@include remFallback('background-position', ((644 / 32) * $size * -1px) 0);
	@include remFallback('height', $size);
	@include remFallback('width', $size);
}
%icm-search{
	@include icm-search();
}
%icm-settings{
	@extend %icm;
	@include remFallback('background-position', -736px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-link{
	@extend %icm;
	@include remFallback('background-position', -828px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-info{
	@extend %icm;
	@include remFallback('background-position', -920px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-menu{
	@extend %icm;
	@include remFallback('background-position', -1012px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-twitter{
	@extend %icm;
	@include remFallback('background-position', -1104px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-github{
	@extend %icm;
	@include remFallback('background-position', -1196px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-linkedin{
	@extend %icm;
	@include remFallback('background-position', -1288px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-delicious{
	@extend %icm;
	@include remFallback('background-position', -1380px 0);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-stackoverflow{
	@extend %icm;
	@include remFallback('background-position', 0 -92px);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-bottom{
	@extend %icm;
	@include remFallback('background-position', -92px -92px);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-top{
	@extend %icm;
	@include remFallback('background-position', -184px -92px);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
%icm-code{
	@extend %icm;
	@include remFallback('background-position', -276px -92px);
	@include remFallback('height', 32);
	@include remFallback('width', 32);
}
