$bp: (
	tiny: 18
	,logoTwist: 23.5
	,verySmall: 25
	,prettySmall: 30
	,small: 38
	,appWidth: 46
	,medium: 48 //-# slightly wider than point where body width meets browser width
	,wide: 55
	,veryBerryWide: 100
);
$bpHeight: (
	//-# sticky is kind of big. make this smaller if we can shrink sticky height
	stickyHeader: 40
	,medium: 40
	,tall: 50
);
