m--img img{
	display: block;
	margin: 0 auto 1em;
	max-height: 50vh;
	@media screen and (min-width: 28em){
		float: right;
		margin: 0 0 1em 1em;
	}
}

//--blog
.relNav hr:last-child{
	display: none;
}
.postHeaderMedia{
	text-align: center;
	margin: 0 0 1em;
	@media screen and (min-width: 30em){
		float: right;
		margin-left: 1em;
		max-width: 50%;
	}
}
.postTags{
	display: inline;
}

//--icons
.bigIconBlock{
	font-size: 180px;
	font-size: clamp(180px, 50vmin, 300px); //--can get bigger on modern browsers
	line-height: 1;
	padding-top: 30px;
	overflow: hidden; //- for very narrow viewports
	text-align: center;
}

//---jetpack
#jp-relatedposts#jp-relatedposts h3.jp-relatedposts-headline{
	font-size: initial;
	em:before{
		display: none;
	}
}

//--code
pre code{
	display: block;
	padding: 0.5em;
}
code{
	@extend %altTheme;
}
pre:has(code){
	border: 1px solid;
	border-radius: 0.8em;
	> code{
		@extend %normalTheme;
	}
}
.token{
	&.atrule,
	&.attr-value,
	&.keyword
	{
		color: #d55;
		@media only screen and (prefers-color-scheme: dark){
			color: #f66;
		}
	}
	&.attr-name,
	&.builtin,
	&.char,
	&.inserted
	&.selector,
	&.string,
	{
		color: #a38c4a;
		@media only screen and (prefers-color-scheme: dark){
			color: #dfee79;
		}
	}
	&.bold,
	&.important
	{
		font-weight: bold;
	}
	&.boolean,
	&.constant,
	&.deleted
	&.number,
	&.property,
	&.symbol,
	&.tag,
	{
		color: #af6f8e;
		@media only screen and (prefers-color-scheme: dark){
			color: #dfbf5e;
		}
	}
	&.cdata,
	&.doctype,
	&.prolog
	{
		color: #9a9;
		@media only screen and (prefers-color-scheme: dark){
			color: #aba;
		}
	}
	&.comment{
		color: #898;
		@media only screen and (prefers-color-scheme: dark){
			color: #9a9;
		}
	}
	&.class-name,
	&.function
	{
		color: #3293a8;
		@media only screen and (prefers-color-scheme: dark){
			color: #64f6cf;
		}
	}
	&.entity{
		cursor: help;
	}
	&.entity,
	&.language-css .string,
	&.operator,
	&.style .string,
	&.url
	{
		color: #da6969;
		@media only screen and (prefers-color-scheme: dark){
			color: #ea7979;
		}
	}
	&.important,
	&.regex,
	&.variable
	{
		color: #c98d05;
		@media only screen and (prefers-color-scheme: dark){
			color: #f9ad25;
		}
	}
	&.italic{
		font-style: italic;
	}
	&.namespace{
		opacity: 0.75;
	}
	&.punctuation{
		color: #2ba40e;
		@media only screen and (prefers-color-scheme: dark){
			color: #3bc41e;
		}
	}
}

//--dialog
::backdrop{
	background: var(--bg);
	opacity: 0.85;
}
dialog{
	border: 1px solid;
	border-radius: 0.8em;
	//--hack to ensure close button doesn't cover stuff on theme dialog
	min-width: 15em;
}
.closeAct, .closeBtn{
	cursor: pointer;
	font-size: 1.2em;
	height: 1.5em;
	line-height: 1;
	position: absolute;
	right: 0em;
	text-align: center;
	top: 0em;
	width: 1.4em;
	&:after{
		content: 'X';
	}
	> b{
		@extend %sro;
	}
}

//--quotes
.attribution{
	margin: 0.5em 0 1.5em;
	text-align: right;
}
blockquote{
	border-left: 1px solid;
	margin-left: 0;
	padding: 0.5em 1em;
	position: relative;
	&:before, &:after{
		background: var(--bg);
		font-size: 3em;
		height: 0.8em;
		left: -0.2em;
		position: absolute;
	}
	&:before{
		content: '“';
		top: 0em;
	}
	&:after{
		content: '”';
		bottom: 0em;
	}
}

