*~
*.swo
*.swp
.DS_Store
.sass-cache/
node_modules/
/app/data/
/app/files/*
!/app/files/wp-uploads/.gitkeep
/app/pages/
/app/web/demos/
/app/web/examples/
/app/web/sites/
/bin/*
!bin/app-install
!bin/console
!bin/blog-install
!bin/protected
!bin/public
/composer.lock
/composer.phar
/config/*local.*
!/config/*local.*.dist
/src/PublicApp/Resources/public/scripts/
/src/PublicApp/Resources/public/styles/
/var/*
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/logs/
/var/logs/*
!/var/logs/.gitkeep
/vendor/*
!/vendor/.gitkeep
/web/
