*~
*.swo
*.swp
.DS_Store
.sass-cache/
node_modules/
/app/config/parameters.yml
/app/config/wp-local.php
/app/data/
/app/files/*
!/app/files/wp-uploads/.gitkeep
/app/web/sites/
/app/web/temp/
/app/web/tmp/
/bin/*
!bin/app-install
!bin/console
!bin/wp-install
/composer.lock
/composer.phar
/src/PublicBundle/Resources/public/scripts/
/src/PublicBundle/Resources/public/styles/
/var/*
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/logs/
/var/logs/*
!/var/logs/.gitkeep
/vendor/*
!/vendor/.gitkeep
/web/
