*~
*.swo
*.swp
.DS_Store
.sass-cache/
node_modules/
yarn.lock
/app/data/
/app/files/*
!/app/files/wp-uploads/.gitkeep
/app/pages/
/bin/*
!bin/app-install
!bin/console
!bin/blog-install
!bin/protected
!bin/public
!bin/short
/composer.lock
/composer.phar
/config/*local.*
!/config/*local.*.dist
/dist/
/var/*
!/var/cache/
/var/cache/*
!/var/cache/.gitkeep
!/var/logs/
/var/logs/*
!/var/logs/.gitkeep
/vendor/*
!/vendor/.gitkeep
