a--foot{
	@extend %appContainerLayout;
	grid-area: foot;
	order: 5;
	@include mq('print'){
		//-! hiding for now since this is empty currently.  May need something better if we start using it more.
		display:  none;
	}

	//==colors
	@extend %appContainerColors;
	@extend %secondaryAreaColors;
}
a--end{
	@extend %appLogoBase;
	bottom: 0.5em;
	left: 1em;
	position: absolute;
	//--subdued, emphasise on hover
	@extend %wiggleHoverAnimation;
	opacity: 0.5;
	transition: opacity 0.2s;
	&:hover{
		opacity: 1;
	}
	//--rest
}
.a--sec{
	@include mq('print'){
		display: none;
	}
}
