[tabindex='-1']:focus{
	outline: none;
}
*{
	//-# autoprefixer versions too high for handling border box, but it is too important
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	@extend %normalTheme;
}
a{
	border-bottom: 3px solid;
	border-radius: 0 0 3em 2em / 0 0 4px 3px;
	color: inherit;
	text-decoration: none;
	&:has(img){
		border: 0;
	}
}
a:focus, a:hover{
	color: $lightAccentColor;
	color: var(--accent);
}
button, input, select{
	@extend %buttonish;
}
dialog{
	@extend %box;
}
h1{
	@extend %line;
	margin: 0 0 0.5em;
}
h2, h3, h4, h5, h6{
	margin: 1em 0 0.5em;
}
h3:before, h4:before, h5:before, h6:before{
	@extend %line;
	content: '';
	display: inline-block;
	margin-right: 16px;
	width: 20px;
}
h4:before{
	width: 40px;
}
h5:before{
	width: 60px;
}
h6:before{
	width: 80px;
}
hr{
	@extend %line;
	margin: 1em 0;
}
iframe, img, svg, video{
	border: 2px solid;
	border-radius: 0.8em 9em 0.8em 8em / 10em 0.8em 10em 0.8em;
	box-shadow: 1px 1px 3px black;
	filter: contrast(200%) saturate(0.5);
	&:focus, &:hover{
		filter: none;
	}
	&:focus-within{
		filter: none;
	}
}
::selection{
	background: var(--accent);
	color: var(--bg);
}
main ol{
	padding-left: 1.3em;
}
main ul{
	padding-left: 0.9em;
	li {
		list-style-type: '- ';
	}
}
