[tabindex='-1']:focus{
	outline: none;
}
*{
	//-# autoprefixer versions too high for handling border box, but it is too important
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html *{
	border: 0;
	font-family: monospace;
	font-size: 1rem;
	margin: 0;
	//--text glow
	text-shadow: 0 0 5px color-mix(in srgb, currentColor 80%, currentColor 10%);
	@media only screen and (prefers-color-scheme: light){
		text-shadow: 0 0 2px color-mix(in srgb, currentColor 50%, currentColor 10%);
	}
}
html{
	@extend %normalTheme;
}
a{
	color: $darkAccentColor;
	color: var(--accent);
}
a:focus, a:hover{
	color: $darkAltColor;
	color: var(--alt);
	outline: 2px solid;
}
b, h1, h2, h3, h4, h5, h6, strong{
	color: var(--accent);
}
button, input, select{
	@extend %buttonish;
}
dialog{
	@extend %box;
}
h1{
	&:after{
		content: '====================';
		display: block;
	}
}
h2{
	&:after{
		content: '--------------------';
		display: block;
	}
}
h2, h3, h4, h5, h6{
	margin: 1.2rem 0 0;
}
h3:before{
	content: '### ';
}
h4:before{
	content: '#### ';
}
h5:before{
	content: '##### ';
}
h6:before{
	content: '###### ';
}
hr{
	margin-bottom: 1.2rem;
	&:after{
		content: '--------------------';
		display: block;
	}
}
iframe, img, svg, video{
	filter: contrast(200%) saturate(0.5);
	&:focus, &:hover{
		filter: none;
	}
	&:focus-within{
		filter: none;
	}
}
p{
	margin-bottom: 1.2rem;
	&:last-child{
		margin: 0;
	}
}
::selection{
	background: var(--accent);
	color: var(--bg);
}
main ol, main ul{
	padding-left: 1rem;
	margin-bottom: 1.2rem;
	&:last-child{
		margin: 0;
	}
}
main ol{
	padding-left: 1.8rem;
}
main ul li {
	list-style-type: '- ';
}
