//==common
[tabindex='-1']:focus{
	outline: none;
}
*{
	//-# autoprefixer versions too high for handling border box, but it is too important
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html *{
	border: 0;
	font-family: monospace;
	font-size: 1rem;
	margin: 0;
	//--text glow
	text-shadow: 0 0 5px color-mix(in srgb, currentColor 80%, currentColor 10%);
	@media only screen and (prefers-color-scheme: light){
		text-shadow: 0 0 2px color-mix(in srgb, currentColor 50%, currentColor 10%);
	}
}
%block{
	* + &{
		margin-top: 1.2rem;
	}
}
%box{
	@extend %normalTheme;
}

//--borders
%charLeftBorder{
	padding-left: 2em;
	position: relative;
	&:before{
		display: inline-block;
		height: 100%;
		left: 0;
		margin-right: 0.5em;
		position: absolute;
		overflow: hidden;
		top: 0;
		white-space: normal;
		width: 0.8em;
	}
}
%charBottomBorder{
	overflow: hidden;
	padding-bottom: 1.2em;
	position: relative;
	&:after{
		bottom: 0;
		left: 0;
		position: absolute;
		white-space: pre;
	}
}

//--actions
%buttonish{
	background: var(--fg);
	color: var(--bg);
	display: inline-block;
	text-decoration: none;
}
%buttonishHover{
	background: $darkAccentColor;
	background: var(--accent);
	color: var(--bg);
	outline: 2px solid var(--accent);
}

//==elements
html{
	@extend %normalTheme;
}
a{
	color: $darkAccentColor;
	color: var(--accent);
}
a:focus, a:hover{
	color: $darkAltColor;
	color: var(--alt);
	outline: 2px solid;
}
b, h1, h2, h3, h4, h5, h6, strong{
	color: var(--accent);
}
button, input, select{
	@extend %buttonish;
}
dialog{
	@extend %box;
}
h1, h2{
	@extend %charBottomBorder;
	min-width: 4.8em;
	width: fit-content;
}
h1{
	&:after{
		content: repeat('=', 120);
	}
}
h2{
	@extend %block;
	&:after{
		content: repeat('-', 120);
	}
}
h2, h3, h4, h5, h6{
	@extend %block;
}
h3:before{
	content: '### ';
}
h4:before{
	content: '#### ';
}
h5:before{
	content: '##### ';
}
h6:before{
	content: '###### ';
}
hr{
	@extend %charBottomBorder;
	margin-bottom: 1.2rem;
	&:after{
		content: repeat('-', 120);
	}
}
img, svg, video{
	filter: contrast(200%) saturate(0.5);
	//--pixelate
	//-@ https://stackoverflow.com/a/66625778
	filter: saturate(2) url('data:image/svg+xml,\
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" height="0">\
		<filter id="px" x="0" y="0"> \
			<feFlood x="2" y="2" height="2" width="1" /> \
			<feComposite width="5" height="5" /> \
			<feTile result="t" /> \
			<feComposite in="SourceGraphic" in2="t" operator="in" /> \
			<feMorphology operator="dilate" radius="2" /> \
		</filter> \
		</svg>#px');
	&:focus, &:hover{
		filter: none;
	}
	&:focus-within{
		filter: none;
	}
}
p{
	@extend %block;
}
::selection{
	background: var(--accent);
	color: var(--bg);
}
main ol, main ul{
	@extend %block;
	padding-left: 1rem;
}
main ol{
	padding-left: 1.8rem;
}
main ul li {
	list-style-type: '- ';
}
