.mediaGrid{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	* + &{
		margin-top: 15px;
		margin-top: 0.9375rem;
	}
	@media screen and (min-width: 18em){
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em 2em;
		justify-content: center;
	}
}
