parameters:
 #==db
 database_driver: pdo_sqlite
 database_host: 127.0.0.1
 database_port: ~
 database_name: symfony
 database_user: root
 database_password: ~
 protected.db.host: localhost
 protected.db.name: protected
 protected.db.user: root
 protected.db.password: ~

 #==domains
 host.prefix: ''
 protected.host: 'me.tobymackenzie.com'
 public.host: 'tobymackenzie.com'
 public.host.subdomain: 'www.'
 tmname.host: 'tobymackenzie.name'

 #==email
 mailer_transport: smtp
 mailer_host: 127.0.0.1
 mailer_user: ~
 mailer_password: ~

 #==symfony
 locale: en
 secret: 1234567890987654321234567890
