parameters:
 #==db
 database_driver: pdo_sqlite
 database_host: 127.0.0.1
 database_port: ~
 database_name: symfony
 database_user: root
 database_password: ~
 protected.db.host: localhost
 protected.db.name: protected
 protected.db.user: root
 protected.db.password: ~

 #==domains
 protected.host: 'protected.tobymackenzie.com'
 protected.host.test: '^protected\.tobymackenzie\.com'
 public.host: 'www.tobymackenzie.com'
 public.host.test: '(^(.*\.)?tobymackenzie\.com$)|(^[0-9\.]+$)|(^.*:.*:.*$)'

 #==email
 mailer_transport: smtp
 mailer_host: 127.0.0.1
 mailer_user: ~
 mailer_password: ~

 #==security
 protected.secure.encoder: 'plaintext'
 protected.secure.path: 'admin'
 protected.secure.users:
  admin:
   password: 'password'
   roles: 'ROLE_ADMIN'

 #==seo
 public.bing-verification: '!!'
 public.google-verification: 'google!!.html'

 #==symfony
 locale: en
 secret: 1234567890987654321234567890
