parameters:
 #==domains
 protected.host: 'protected.tobymackenzie.com'
 protected.host.test: '^protected\.tobymackenzie\.com'
 public.host: 'www.tobymackenzie.com'
 public.host.test: '^(.*\.)?tobymackenzie\.com|[0-9\.]+|.*:.*:.*$'

 #==security
 protected.secure.encoder: 'plaintext'
 protected.secure.path: 'admin'
 protected.secure.users:
  admin:
   password: 'password'
   roles: 'ROLE_ADMIN'

 #==seo
 public.bing-verification: '!!'
 public.google-verification: 'google!!.html'

 #==symfony
 locale: en
 secret: 1234567890987654321234567890
