<!DOCTYPE html>
<html class="doc" lang="en">
	<head>
		<title>{% block title %}&lt;toby&gt; protected{% endblock %}</title>
	</head>
	<body class="shl">
		<main class="shlMain">
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
