//==animations
%spinHoverAnimation{
	transform: rotate(0);
	transition: transform 0.5s ease;
	&:hover{
		transform: rotate(-720deg) translate(0, 0);
	}
}
%wiggleHoverAnimation{
	@supports (animation-name: a){ //--loses safari 5.1, which has a weird bug with this animation (flashing of main content area).  Also loses ie and others though
		&:hover{
			animation-duration: 0.4s;
			animation-name: wiggle;
		}
	}
}
	@keyframes wiggle{
		0%{
			transform: skew(0);
		}
		20%{
			transform: skew(12deg);
		}
		40%{
			transform: skew(-12deg);
		}
		60%{
			transform: skew(8deg);
		}
		80%{
			transform: skew(-8deg);
		}
		100%{
			transform: skew(0);
		}
	}
