.mediaGrid{
	@extend %block;
	list-style: none;
	@include mq(map-get($bp, 'tiny')){
		align-items: center;
		display: grid;
		grid-gap: 1em;
		justify-content: center;
		grid-template-columns: repeat(2,auto);
	}
	@include mq(map-get($bp, 'small')){
		grid-template-columns: repeat(3,auto);
	}
}
