%presenceAction{
	text-decoration: none;
	@include mq('print'){
		text-decoration: underline;
	}
	&:before{
		@include icon-with-label();
		vertical-align: middle;
	}
	span{
		text-decoration: underline;
		text-decoration-color: rgba(map-get($colors, primaryLinkFG), 0.4);
		vertical-align: middle;
		@include supports('dark-theme'){
			color: inherit;
		}
		@include mq('print'){
			text-decoration: none;
			vertical-align: baseline;
		}
	}
}
.presence{
	break-inside: avoid;
	//--whitespace
	//-# padding to prevent weird wrapping of margin in webkit
	margin: 0;
	padding-bottom: 1.5em;
	@include mq('print'){
		padding-bottom: 0.5em;
	}
}
.presenceAction-writings{
	&:before{
		@extend %icon-writings;
	}
	@extend %presenceAction;
}
.presenceAction-github{
	&:before{
		@extend %icon-github;
	}
	@extend %presenceAction;
}
.presenceAction-twitter{
	&:before{
		@extend %icon-twitter;
	}
	@extend %presenceAction;
}
.presenceAction-linkedin{
	&:before{
		@extend %icon-linkedin;
	}
	@extend %presenceAction;
}
.presenceAction-delicious{
	&:before{
		@extend %icon-delicious;
	}
	@extend %presenceAction;
}
.presenceAction-stackoverflow{
	&:before{
		@extend %icon-stackoverflow;
	}
	@extend %presenceAction;
}
.presenceAction-packagist{
	&:before{
		@extend %icon-packagist;
	}
	@extend %presenceAction;
}
.presences{
	column-fill: balance;
	column-width: 13em;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	@include mq('print'){
		column-width: initial;
	}
}
