##=====
#==security
##=====
##--don't sniff mime type (IE and Chrome)
#-@ https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options
Header always set X-Content-Type-Options 'nosniff'

##--block execution of php in uploads directories
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^_/wp-content/uploads/.*\.php$ - [F,L,NC]
</IfModule>

##=====
#==rewrites
#=====
<IfModule mod_rewrite.c>
	RewriteEngine On

	#==maintenance mode
	# RewriteCond %{ENV:REDIRECT_STATUS} !=503
	# RewriteRule ^ - [L,R=503]
	# ErrorDocument 503 /_maintenance.html
	# Header Set Cache-Control "max-age=0, no-store"

	##==config
	##--TMWEB_SITE
	RewriteRule ^ - [E=TMWEB_SITE:default]
	#---public
	#----public primary
	RewriteCond %{HTTP_HOST} ^(t\.)?(15\.|www\.)tobymackenzie\.com$ [NC,OR]
	#----direct IP access, in case DNS fails
	RewriteCond %{HTTP_HOST} ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ [NC,OR]
	RewriteCond %{HTTP_HOST} ^.*:.*:.*$ [NC,OR]
	#----public local
	RewriteCond %{HTTP_HOST} ^localhost$ [NC,OR]
	RewriteCond %{HTTP_HOST} tm.*\.local$ [NC]
	RewriteRule ^ - [E=TMWEB_SITE:public]
	#----no host, for http 0.9 (ie really old) browsers
	RewriteCond %{HTTP_HOST} ^$
	RewriteRule ^ - [E=TMWEB_SITE:public,E=HTTP_HOST:www.tobymackenzie.com]

	##==block admin access to others
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteCond %{HTTPS} =on
	RewriteRule ^/?_wpmin$ /index.php [CO=12345:67890:%{HTTP_HOST}:0:/:secure:httponly,END]
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteCond %{HTTPS} !=on [OR]
	RewriteCond %{HTTP_COOKIE} !^(.*;)?\ ?12345=67890\ ?(;.*)?$
	RewriteRule ^/?_/wp/wp-login.php /index.php [END]

	##==redirects from old paths
	##===tobymackenzie.name / cosmicosmo.ath.cx
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^log$ /blog/ [L,QSA,R=302]
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^log/(.*) /blog/$1 [L,QSA,R=301]
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^pages/10 /about [L,QSA,R=301]
	##===tobymackenzie.wordpress.com
	##--redirect blog-like urls to blog
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^([\d]{4}/?.*) /blog/$1 [L,QSA,R=302]
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^/?feed/?$ /blog/feed/ [L,QSA,R=302]
	##===wordpress slug changes
	RewriteRule ^/?blog/2020/12/06/ive-got-home-internet-again /blog/2020/12/06/home-internet-again/  [L,QSA,R=302]

	##==canonical
	##--send unknown hosts and direct ip access to canonical domains
	#-# note: this requires updating TMWEB_SITE rules if we add another site or change
	RewriteCond %{ENV:TMWEB_SITE} default
	#-# don't redirect for http 0.9 requests (really old browsers)
	RewriteCond %{HTTP_HOST} ^.+$
	RewriteRule ^ %{REQUEST_SCHEME}://www.tobymackenzie.com%{REQUEST_URI} [L,R=302,QSA]
	##===force 'https' for blog sitemap and cron, to prevent 'http' URL's from showing up in the former
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteCond %{HTTPS} !=on
	RewriteRule ^blog/[A-Za-z0-9]*\-?sitemap\-?[0-9]*.xml$ https://www.tobymackenzie.com%{REQUEST_URI} [L,QSA,R=302]
	RewriteCond %{HTTPS} !=on
	RewriteRule /?_/wp/wp-cron\.php https://www.tobymackenzie.com%{REQUEST_URI} [L,QSA,R=307]

	#==redirect system files
	##===remove index file from URL to prevent duplicate content
	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^index\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]
	##===redirect wp index to blog
	RewriteCond %{REQUEST_URI} ^/?_/wp/?$ [OR]
	RewriteCond %{REQUEST_URI} ^/?_/wp/index\.php$
	RewriteRule ^ /blog/ [END,R=301]

	##==serve files and directories, except root
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule .? - [L]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteCond %{REQUEST_URI} !^/?$
	RewriteRule .? - [L]

	##==public
	##===serve wordpress for appropriate urls
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^blog _/wp/index.php [END]
	##===all other routes go through symfony
	RewriteCond %{ENV:TMWEB_SITE} public
	RewriteRule ^ %{ENV:BASE}/index.php [L]

</IfModule>
<IfModule !mod_rewrite.c>
	<IfModule mod_alias.c>
		##==temporary fallback if mod_rewrite isn't available.  URLs will show with 'index.php' prepended
		RedirectMatch 302 ^/$ /index.php/
	</IfModule>
</IfModule>

##==disable Multiviews to prevent '/index' from resolving to '/index.php', etc
<IfModule mod_negotiation.c>
	Options -MultiViews
</IfModule>

##=====
#==performance
#=====
##==cacheing
#-@ https://raw.githubusercontent.com/h5bp/server-configs-apache/master/src/web_performance/expires_headers.conf
<IfModule mod_expires.c>
	ExpiresActive on
	# ExpiresDefault 'access plus 1 seconds'

	#--docs
	# ExpiresByType text/html 'access plus 1 seconds'
	# ExpiresByType text/xml 'access plus 1 seconds'

	##--data
	ExpiresByType application/json 'access plus 0 seconds'
	ExpiresByType application/ld+json 'access plus 0 seconds'
	ExpiresByType application/schema+json 'access plus 0 seconds'
	ExpiresByType application/vnd.geo+json 'access plus 0 seconds'
	ExpiresByType application/xml 'access plus 0 seconds'

	##--feeds
	ExpiresByType application/atom+xml 'access plus 1 hour'
	ExpiresByType application/rdf+xml 'access plus 1 hour'
	ExpiresByType application/rss+xml 'access plus 1 hour'

	##--scripts
	ExpiresByType application/javascript 'access plus 1 day'
	ExpiresByType application/x-javascript 'access plus 1 day'
	ExpiresByType text/javascript 'access plus 1 day'

	##--styles
	ExpiresByType text/css 'access plus 1 day'

	##--media
	ExpiresByType audio/ogg 'access plus 1 month'
	ExpiresByType image/bmp 'access plus 1 month'
	ExpiresByType image/gif 'access plus 1 month'
	ExpiresByType image/jpeg 'access plus 1 month'
	ExpiresByType image/png 'access plus 1 month'
	ExpiresByType image/svg+xml 'access plus 1 month'
	ExpiresByType image/webp 'access plus 1 month'
	ExpiresByType video/mp4 'access plus 1 month'
	ExpiresByType video/ogg 'access plus 1 month'
	ExpiresByType video/webm 'access plus 1 month'
	##---favicons
	ExpiresByType image/x-icon 'access plus 1 week'
	ExpiresByType image/vnd.microsoft.icon 'access plus 1 week'

	##--fonts
	ExpiresByType application/vnd.ms-fontobject 'access plus 1 year'
	ExpiresByType application/font-woff 'access plus 1 year'
	ExpiresByType application/font-woff2 'access plus 1 year'
	ExpiresByType application/x-font-ttf 'access plus 1 year'
	ExpiresByType application/x-font-woff 'access plus 1 year'
	ExpiresByType font/eot 'access plus 1 year'
	ExpiresByType font/opentype 'access plus 1 year'
	ExpiresByType font/woff 'access plus 1 year'
	ExpiresByType font/woff2 'access plus 1 year'

	##--manifests
	ExpiresByType application/manifest+json 'access plus 1 day'
	ExpiresByType application/x-web-app-manifest+json 'access plus 0 seconds'
	ExpiresByType text/cache-manifest 'access plus 0 seconds'

	##--etc
	ExpiresByType text/x-cross-domain-policy 'access plus 1 week'

	##--public assets
	<FilesMatch '\.(bmp|css|html|gif|jpe?g|js|png)$'>
		ExpiresDefault 'access plus 1 seconds'
		Header merge Cache-Control 'public'
	</FilesMatch>
</IfModule>

##==compression
#--compress text files
#-@ https://github.com/h5bp/server-configs-apache/blob/master/src/web_performance/compression.conf
<IfModule mod_deflate.c>
	# <IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE 'application/atom+xml' \
			'application/javascript' \
			'application/json' \
			'application/ld+json' \
			'application/manifest+json' \
			'application/rdf+xml' \
			'application/rss+xml' \
			'application/schema+json' \
			'application/vnd.geo+json' \
			'application/vnd.ms-fontobject' \
			'application/x-font-ttf' \
			'application/x-javascript' \
			'application/x-web-app-manifest+json' \
			'application/xhtml+xml' \
			'application/xml' \
			'font/eot' \
			'font/opentype' \
			'image/bmp' \
			'image/svg+xml' \
			'image/vnd.microsoft.icon' \
			'image/x-icon' \
			'text/cache-manifest' \
			'text/css' \
			'text/html' \
			'text/javascript' \
			'text/plain' \
			'text/vcard' \
			'text/vnd.rim.location.xloc' \
			'text/vtt' \
			'text/x-component' \
			'text/x-cross-domain-policy' \
			'text/xml'
	# </IfModule>
</IfModule>

##==etags
##-! consider implementing (https://github.com/h5bp/server-configs-apache/blob/master/src/web_performance/etags.conf), ie removing etags for items that have far future expirations
