//==comments
.comment-respond{
	@extend %block;
}
.commentContent{
	//-# comments can have long code "words" that can overflow their container
	overflow: auto;
}
.commentsList{
	&, & .children{
		@extend %block;
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	li{
		@extend %block;
		border: 1px solid;
		padding: 0.5em;
	}
}

//==jetpack
#jp-relatedposts#jp-relatedposts{
	margin-top: 1.5em;
	.jp-relatedposts-post-a{
		font-weight: bold;
	}
	.jp-relatedposts-headline{
		font-size: 1em;
	}
}
.jp-relatedposts-post-aoverlay.jp-relatedposts-post-aoverlay{
	&:active, &:focus, &:hover{
		background: rgba(map-get($colors, linkBG), 0.4);
	}
}

//==posts
.post{
	@extend %mainItemColors;
	@extend %mainItemLayout;
	.more-link{
		@extend %blockMargin;
		display: table;
		&:before{
			content: '…';
			@include mq('print'){
				content: '[…';
			}
		}
	}
}
.postAside{
	@extend %mainItemColors;
	@extend %mainItemLayout;
}
.postContent{
	@extend %mainItemContentLayout;
}
.postHeader{
	@extend %mainItemHeaderLayout;
}
.permalink, .postHeadingAction, .postTagAction{
	@include mq('print'){
		&:after, &:before{
			display: none;
		}
	}
}
.postHeaderMedia{
	margin-bottom: 1em;
	text-align: center;
}
.postHeaderExtra{
	text-align: right;
}
.postMeta{
	@extend %mainItemMetaLayout;
}
.postMetaMain{
	@extend %mainItemMetaMainLayout;
}
.postPermalink{
	@include mq('print'){
		display: none;
	}
}
.postTag{
	display: inline-block;
}
.postTagsList{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
