{% extends page.skeleton %}
{%block docMain %}
<div class="mainItem">
	<h1>Error {{status_code}}{% if status_text %}: {{status_text}}{% endif %}</h1>
{%	if status_code == 404 %}
	<p>The URL you requested was not found on this server.  You can try finding what you were looking for on the <a href="/">home page</a> or using the search form below.</p>
	<br />{#-!! temporary, use css #}
	<form action="https://duckduckgo.com">
		<label for="q">Search via DuckDuckGo:</label>
		<input id="q" autofocus="autofocus" name="q" rel="search" title="Search"{% if search is defined %} value="{{search}}"{% endif %} />
		<input type="hidden" name="sites" value="www.tobymackenzie.com" />
		<input type="submit" value="Go" />
	</form>
{%	elseif status_code >= 500 %}
		<p>Apologies.  There was an error.  If you are unable to do what you were trying to do, please let me know what happened at admin at tobymackenzie.com.</p>
{%	elseif status_code == 401 %}
		<p>Unauthorized.  Please try again.</p>
		<iframe style="width:100%;" width="560" height="315" src="https://www.youtube.com/embed/fmz-K2hLwSI?autoplay=1" allowfullscreen>Ah ah ah:  You didn't say the magic word.</iframe>
{%	elseif status_code == 403 %}
		<p>Forbidden</p>
		<iframe style="width:100%;" width="560" height="315" src="https://www.youtube.com/embed/fmz-K2hLwSI?autoplay=1" allowfullscreen>Ah ah ah:  You didn't say the magic word.</iframe>
{%	elseif status_code == 418 %}
		<p>Your attempt to brew coffee has failed.  Please try tea instead.  It is much better.</p>
		<iframe style="width:100%;" width="560" height="315" src="https://www.youtube.com/embed/I1ZkF8yGYEQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
{%	else %}
		<p>Apologies.  An error occurred.  You cannot do what you were trying to do.</p>
{%	endif %}
</div>
{% endblock %}
