//-@ h5bp
//-@ http://www.smashingmagazine.com/2011/11/24/how-to-set-up-a-print-style-sheet/
@media print{
	*, *:before, *:after{
		//-# doing background color only could leave some undesired background images in place, but that's needed to allow for icons
		background-color: transparent !important;
		color: #000000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a{
		&, &:visited{
			text-decoration: underline;
		}
		&[href]{
			break-inside: avoid;
			page-break-inside: avoid;
			&:after{
				content: '](' attr(href) ')';
				text-decoration: none;
				word-wrap: break-word;
			}
			&:before{
				content: '[';
				text-decoration: none;
			}
		}
		&[href^='/']{
			&:after{
				content: '](https://www.tobymackenzie.com' attr(href) ')';
			}
		}
		&[href^='#'], &[href^='javascript:']{
			&:before, &:after{
				content: '' !important;
			}
		}
	}
	abbr[title]:after{
		content: ' (' attr(title) ')';
	}
	blockquote, img, tr{
		page-break-inside: avoid;
	}
	h1, h2, h3{
		page-break-after: avoid;
	}
	h2, h3, p{
		orphans: 3;
		widows: 3;
	}
	iframe, img, object{
		max-width: 100% !important;
	}
	pre{
		orphans: 4;
		widows: 4;
	}
	thead{
		//-! ensures thead is repeated on each page for multi-page tables, seems to only apply to really old browsers.  We don't have those type of tables, do we even need?
		display: table-header-group; //-@ https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	}

	//==specific
	//--remove elements that don't need to be printed
	.a--nav, .a--navr, .sf-toolbar, .a--head a:before, .a--head a:after, .m--alt{
		display: none !important;
	}
}
