@import 'share/fix';

.a--0{
	margin: 0 0 1em;
}
body{
	background: #efe;
	color: #030;
	padding: 3% 4%;
	margin: auto;
	max-width: 92%;
	width: 40em;
}
html{
	background: #4e784e;
	color: #ebffeb;
	padding: 0;
}
.a--navl{
	margin: 0 0 1em;
}
a{
	color: #474;
	&:focus, &:hover{
		color: #252;
	}
}
b, strong
,code
,em
,h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	color: #252;
}
