@import 'share/fix';

.a--0, .a--navl, main{
	margin: 0 0 1em;
}
body{
	background: #efe;
	color: #030;
	padding: 3% 4%;
	margin: auto;
	max-width: 92%;
	width: 48em;
}
html{
	background: #4e784e;
	padding: 0;
}
.a--nava{
	background: none;
	border: 0;
	font: inherit;
	padding: 0;
	text-decoration: underline;
}
.a--navl{
	align-items: baseline;
	display: flex;
	float: right;
	gap: 0.5em;
}
a, .a--nava{
	color: #474;
	&:focus, &:hover{
		color: #2b5;
	}
}
b, strong
,code
,em
,h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	color: #252;
}
