//-@ h5bp
//-@ http://www.smashingmagazine.com/2011/11/24/how-to-set-up-a-print-style-sheet/
@include mq('print'){
	*, *:before, *:after{
		background: transparent !important;
		color: #000000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a{
		&, &:visited{
			text-decoration: underline;
		}
		&[href]{
			break-inside: avoid;
			page-break-inside: avoid;
			&:after{
				content: '](' attr(href) ')' !important;
				text-decoration: none;
				word-wrap: break-word;
			}
			&:before{
				content: '[' !important;
				text-decoration: none;
			}
		}
		&[href^='/']{
			&:after{
				content: '](https://www.tobymackenzie.com' attr(href) ')' !important;
			}
		}
		&[href^='#'], &[href^='javascript:']{
			&:before, &:after{
				content: '' !important;
			}
		}
	}
	abbr[title]:after{
		content: ' (' attr(title) ')';
	}
	blockquote, img, pre, tr{
		page-break-inside: avoid;
	}
	h1, h2, h3{
		page-break-after: avoid;
	}
	h2, h3, p{
		orphans: 3;
		widows: 3;
	}
	iframe, img, object{
		max-width: 100% !important;
	}
	.sf-toolbar{
		display: none !important;
	}
	thead{
		display: table-header-group; //-@ h5bp.com/t
	}
}
