$color-flake: rgba(255, 255, 255, 0.8);

@supports (pointer-events: none){
	.snow{
		height: 100%;
		left: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
	}
	.snow-html .snowFlake{
		background: $color-flake;
		display: inline-block;
		border-radius: 50%;
		left: 0;
		position: absolute;
		top: 0;
	}
	.snow-svg .snowFlake{
		fill: $color-flake;
	}
}
