%highlightedBGActions{
	background-color: rgba(map-get($colors, linkBG), 0);
	background-color: var(--linkBG);
	transition: background-color 0.15s, color 0.15s;
	&:active, &:focus, &:hover{
		background-color: rgba(map-get($colors, linkBG), 0.8);
		background-color: var(--linkFocusBG);
	}
}
