@import '_mixins';
@import '_config';
@import '../base/fix';
@import '../shell/ancient';

a{
	color: map-get($colors, 'primaryLinkFG');
	&:focus, &:hover{
		color: map-get($colors, 'strong');
	}
}
b, strong
,code
,em, i
,h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	color: map-get($colors, 'strong');
}
