//--animate automatic scrolling
*{
	scroll-behavior: smooth;
}

//--remove animations / transitions for users who prefer it
//-@ https://mobile.twitter.com/scottjehl/status/1085600505299111936
//-@ https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/
@media (prefers-reduced-motion: reduce), (update: slow){
	*, *:after, *:before{
		//-# short time period to ensure any animation / transition end events still fire
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}
