//=====
//==font faces
//=====
@font-face{
	font-display: swap; font-display: fallback;
	font-family: 'cousine';
	font-style: normal;
	font-weight: normal;
	src: url('/_assets/fonts/cousine/cousine-regular-webfont.woff2') format('woff2'),
		 url('/_assets/fonts/cousine/cousine-regular-webfont.woff') format('woff');
}
@font-face{
	font-display: swap; font-display: fallback;
	font-family: 'cousine';
	font-style: italic;
	font-weight: normal;
	src: url('/_assets/fonts/cousine/cousine-italic-webfont.woff2') format('woff2'),
		 url('/_assets/fonts/cousine/cousine-italic-webfont.woff') format('woff');
}
@font-face{
	font-display: swap; font-display: fallback;
	font-family: 'cousine';
	font-style: italic;
	font-weight: bold;
	src: url('/_assets/fonts/cousine/cousine-bolditalic-webfont.woff2') format('woff2'),
		 url('/_assets/fonts/cousine/cousine-bolditalic-webfont.woff') format('woff');
}
@font-face{
	font-display: swap; font-display: fallback;
	font-family: 'cousine';
	font-style: normal;
	font-weight: bold;
	src: url('/_assets/fonts/cousine/cousine-bold-webfont.woff2') format('woff2'),
		 url('/_assets/fonts/cousine/cousine-bold-webfont.woff') format('woff');
}

//=====
//==text
//=====
//--base
@mixin font-familyBase{
	font-family: map-get($fontFamilies, base);
	@include mq(map-get($bp, small)){
		font-family: map-get($fontFamilies, baseWVP);
	}
}
@mixin font-base{
	@include font-familyBase();
	font-weight: 400;
	font-style: none;
}
%font-base{
	@include font-base();
}

//--bold
@mixin font-bold{
	@include font-familyBase();
	font-style: normal;
	font-weight: 700;
}
%font-bold{
	@include font-bold();
}

//--italic
@mixin font-italic{
	@include font-familyBase();
	font-style: italic;
	font-weight: normal;
}
%font-italic{
	@include font-italic();
}

//--bold italic
@mixin font-boldItalic{
	@include font-familyBase();
	font-style: italic;
	font-weight: 700;
}
%font-boldItalic{
	@include font-boldItalic();
}

//--heading
@mixin font-heading{
	@extend %font-bold;
	//-! font-family: map-get($fontFamilies, heading);
}
%font-heading{
	@include font-heading();
}
