@import '_mixins';
@import '_config';
@import '../base/fix';

.appEndLogo{
	margin: 1em 0 0;
}
body{
	background: map-get($colors, 'primaryBG');
	color: map-get($colors, 'primaryFG');
	padding: 3% 4%;
	margin: auto;
	max-width: 92%;
	width: 40em;
}
html{
	background: map-get($colors, 'baseBG');
	color: map-get($colors, 'baseFG');
	padding: 0;
}
.appNavItem{
	display: inline;
}
.appNavList{
	margin: 0 0 1em;
}
a{
	color: map-get($colors, 'primaryLinkFG');
	&:focus, &:hover{
		color: map-get($colors, 'strong');
	}
}
b, strong
,code
,em
,h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	color: map-get($colors, 'strong');
}
