/*
These styles add to `main` for a christmas appearance
*/
$lightSize: 15px;
$lightGap: 5px;

a--bg{
	--blueLight: rgb(30,30,255);
	--greenLight: rgb(0,255,0);
	--orangeLight: rgb(255,140,0);
	--redLight: rgb(255,0,0);
	--yellowLight: rgb(255,200,100);
	--violetLight: rgb(255,100,200);
	&:after, &:before{
		$lights: ('green', 'orange', 'red', 'blue', 'violet', 'yellow', 'red', 'green', 'violet', 'orange', 'blue', 'yellow');
		$lightsCount: length($lights);
		$background: null;
		@for $i from 1 through $lightsCount{
			$background: $background radial-gradient($lightSize circle at var(--ball-x) #{($lightSize + $lightGap) * ($i - 0.5)}, var(--#{nth($lights, $i)}Light) 50%, transparent 55%)#{if($i != $lightsCount, ',', '')}
		}
		background-image: $background;
		background-repeat: repeat-y;
		background-size: 100% #{($lightSize + $lightGap) * $lightsCount};
		content: '';
		// filter: blur(1px);
		height: 100%;
		opacity: 0.5;
		padding: 0;
		position: absolute;
		top: 0;
		transition: opacity 0.5s;
		width: #{$lightSize * 3 / 4 + 2px};
		z-index: 100;
	}
	&:hover{
		&:after, &:before{
			opacity: 0.9;
		}
	}
	&:after{
		--ball-x: #{$lightSize * 3 / 5 };
		right: 0;
		transform: scaleY(-1);
	}
	&:before{
		--ball-x: #{$lightSize / 4};
		left: 0;
	}
}
