/*
These styles add to `main` for a halloween appearance
*/
$bg: #ea7824;
$darkFG: #ff9057;
$darkBG: #b94e00;
@import '_mixins';

/*=====
==basic shell
=====*/
:root{
	--baseBG: #{$bg};
	--headingFG: #{$bg};
	--linkVisitedFG: #{$bg};
	--primaryLinkFG: #{$bg};
	--strongFG: #{$bg};
	@include supports('dark-theme'){
		--baseBG: #{$darkBG};
		--headingFG: #{$darkFG};
		--linkVisitedFG: #{$darkFG};
		--primaryBG: #111;
		--primaryLinkFG: #{$darkFG};
		--strongFG: #{$darkFG};
	}
}
.appHeaderTagline:after{
	content: '🎃';
	margin-left: 1em;
}
.appNavAction::before, .siteNavAction::before, [class^='presenceAction']::before{
	filter: invert(47%) sepia(80%) saturate(388%) hue-rotate(341deg);
}

/*=====
==ghost
=====*/
.extra-ghost{
	font-size: 3em;
	left: 0;
	opacity: 0.8;
	pointer-events: none;
	position: fixed;
	top: 0;
}
.ghostView{
	pointer-events: none;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	> *{
		cursor: pointer;
		pointer-events: all;
		transform-box: fill-box;
		transform-origin: center;
		transition: opacity 1s, transform 1s;
		&:hover{
			opacity: 0;
		}
		&[data-state='boo']{
			opacity: 1;
			transform: scale(5);
		}
	}
}
.ghost-svg{
	opacity: 0.8;
}
