/*
These styles add to `main` for a halloween appearance
*/
$bg: #ea7824;
$darkFG: #ff9057;
$darkBG: #b94e00;
@import '_mixins';
:root{
	--baseBG: #{$bg};
	--bodyBG: #{$bg};
	--headingFG: #{$bg};
	--linkVisitedFG: #{$bg};
	--primaryLinkFG: #{$bg};
	--strongFG: #{$bg};
	@include supports('dark-theme'){
		--baseBG: #{$darkBG};
		--bodyBG: #{$darkBG};
		--headingFG: #{$darkFG};
		--linkVisitedFG: #{$darkFG};
		--primaryBG: #111;
		--primaryLinkFG: #{$darkFG};
		--strongFG: #{$darkFG};
	}
}
.appHeaderMessage:after,
.appHeaderTagline:after
{
	position: relative;
	transition: 0.2s transform;
}
.appHeaderMessage:hover:after,
.appHeaderTagline:hover:after
{
	transform: scale(3);
}
.appHeaderMessage:after{
	content: '👻';
}
.appHeaderTagline:after{
	content: '🎃';
	margin-left: 1em;
}
.appNavAction::before, .siteNavAction::before, [class^='presenceAction']::before{
	filter: invert(47%) sepia(80%) saturate(388%) hue-rotate(341deg);
}
