/*
These styles add to `main` for a halloween appearance
*/
$bg: #ea7824;
$darkFG: #ff9057;
$darkBG: #b94e00;
@import '_mixins';

/*=====
==basic shell
=====*/
:root{
	--baseBG: #{$bg};
	--headingFG: #{$bg};
	--linkVisitedFG: #{$bg};
	--primaryLinkFG: #{$bg};
	--strongFG: #{$bg};
	@include supports('dark-theme'){
		--baseBG: #{$darkBG};
		--headingFG: #{$darkFG};
		--linkVisitedFG: #{$darkFG};
		--primaryBG: #111;
		--primaryLinkFG: #{$darkFG};
		--strongFG: #{$darkFG};
	}
}
a--htag:after{
	content: '🎃';
	margin-left: 1em;
}
.a--nava::before, .a--snava::before{
	filter: invert(47%) sepia(80%) saturate(388%) hue-rotate(341deg);
}

/*=====
==ghost
=====*/
@import '../../node_modules/@tobymackenzie/ghosts/src/ghosts';
