.a--0{
	align-content: stretch;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 100%;
	padding: 0; //--undo ancient styles
	width: $shellMainWidth;
	@include supports('appWidth'){
		border-style: solid;
		border-top-style: 0;
		border-width: 3px
	}
	@include supports('app-grid'){
		align-content: center;
		border-style: none;
		display: grid;
		grid:
			'appRestart head' max-content
			'appNav main' max-content
			'appNav foot' max-content
			/ minmax(min-content, max-content) minmax(6em, #{$shellMainWidth + 4em})
		;
		//-!!! need to not polyfill for webkit, doesn't work right in Safari
		width: fit-content;
	}
	@include mq('print'){
		display: block; //-# grid / flex was causing cut off content in FF
		min-height: 0; //-# 100vh was cause page break in FF
		width: auto; //-# could result in narrow content
	}

	//==colors
	@include supports('appWidth'){
		border-color: map-get($colors, border);
		border-color: var(--borderColor);
	}
}
body{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-width: none; //--undo ancient styles
	min-height: 100vh; //--ensure full grunge coverage, centered short content
	padding: 0;
	width: auto; //--undo ancient styles
	@include mq('print'){
		display: block;
	}

	//==colors
	accent-color: var(--linkFocusFG);
	background: none; //--override ancient
	color: map-get($colors, baseFG);
	color: var(--baseFG);

	//==fonts
	@extend %font-base;
	line-height: 1.6;

	//==texture
	@supports (pointer-events: none){
		position: relative;
		&:after{
			@include coverlay();
			background-image: url('/_assets/grunge-pattern.png');
			content: '';
			opacity: 0.06;
			z-index: 9999;
		}
	}
}
html{
	padding: 0;
	//==background
	background: map-get($colors, baseBG);
	background: var(--baseBG);
	//-!much simpler version of tree bg, but not quite as nice, especially in light mode
	// @supports (background-blend-mode: color-burn){
		// background-blend-mode: color-burn;
		// background-image: url('/_assets/images/15-tree.webp');
		// background-size: cover;
	// }
}
a--bg{
	@include supports('appWidth'){
		@supports (mask-size: cover) and (pointer-events: none){
			&:after, &:before{
				@include coverlay();
				background: var(--borderColor);
				content: '';
				mask: url('/_assets/images/15-tree.webp') luminance repeat-y;
				mask-size: contain;
				opacity: 0.4;
				z-index: -1;
				@include supports('dark-theme'){
					opacity: 0.1;
				}
			}
			&:before{
				opacity: 0.1;
				z-index: 1;
				@include supports('dark-theme'){
					opacity: 0.08;
				}
			}
		}
	}
}
