a--foot{
	@extend %appContainerLayout;
	grid-area: foot;
	order: 5;
	@include mq('print'){
		//-! hiding for now since this is empty currently.  May need something better if we start using it more.
		display:  none;
	}

	//==colors
	@extend %appContainerColors;
	@extend %secondaryAreaColors;
}
a--end{
	@extend %appLogoBase;
	align-self: start;
	flex: 0 0 auto;
	display: inline-block;
	//--subdued, emphasise on hover
	@extend %wiggleHoverAnimation;
	$leftMargin: 1em; //--prevent wiggle from overflowing window
	opacity: 0.5;
	transition: opacity 0.2s;
	&:hover{
		opacity: 1;
	}
	//--rest
	margin: 0.5em;
	padding: 0 0.5em;
	@include supports('app-grid'){
		margin-left: 2em;
	}
	@include supports('medium'){
		align-self: center;
		margin-left: -30em;
	}
}
.a--sec{
	@include mq('print'){
		display: none;
	}
}
