.a--head{
	@extend %appContainerLayout;
	grid-area: head;
	order: 1;
	position: relative;
	@include supports('tiny'){
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
	}
	//---allow spinning logo to overflow
	@include mq(14){
		overflow: visible;
	}

	//==colors
	@extend %appContainerColors;
	@extend %tertiaryAreaColors;
	background: var(--chromeHeaderBG);
}
.a--message{
	color: var(--messageFG);
	display: inline-block;
	font-size: 0.9em;
	a{
		color: inherit;
		text-decoration: none;
		@include mq('print'){
			&:after, &:before{
				content: none !important;
			}
		}
	}
	@media print{
		float: right;
		padding-top: 0.4em;
	}
}
a--htag{
	@extend %wiggleHoverAnimation;
	transform-origin: left;
	@include supports('tiny'){
		margin: 0 auto 0 5.1em;
		position: relative;
		z-index: 103;
	}
}
a--htagw{
	display: none;
	@include mq(map-get($bp, small)){
		display: inline;
	}
}
%appLogoBase{
	@extend %font-bold;
	color: map-get($colors, chromeLogo);
	color: var(--chromeLogo);
	font-size: map-get($fontSizes, logo);
}
a--logo{
	@extend %appLogoBase;
	background: var(--chromeHeaderBG);

	@include supports('tiny'){
		margin-left: -0.3em;
		padding: 0 0.3em;
		position: absolute; position: fixed;
		z-index: 102;
	}

	//--rotate
	transform: rotate(0);
	transition: transform 0.5s ease;
	@include mq(map-get($bp, logoTwist)){
		transform: rotate(-15deg);
		//--being inside link affects position for some reason, must compensate
		a &{
			transform: rotate(-15deg) translateY(-5px);
		}
	}
	&:hover{
		transform: rotate(-720deg);
	}
	a:focus &, a:hover &{
		transform: rotate(-720deg) translateY(-5px);
	}
}
.a--logoa{
	margin-right: auto;
	text-decoration: none;
	&:focus:focus, &:hover:hover{
		//--fight default link styles
		background: none;
	}
	@include mq('print'){
		&:after, &:before{
			display: none;
		}
	}
}

