a--main{
	border-bottom-style: solid;
	border-width: 3px;
	grid-area: main;
	order: 3;
	// view-transition-name: main;
	@include supports('app-grid'){
		border-left-style: solid;
		border-right-style: solid;
	}
	@include mq('print'){
		border: 0;
	}

	//==colors
	@extend %appContainerColors;
	@extend %secondaryAreaColors;
}
.a--mfoot, .a--mhead{
	@extend %appContainerLayout;
	@include remFallback('padding', 0 16px);
}
.a--mfoot{
	border-width: 3px;
	* + &{
		border-top-style: solid;
	}

	//==colors
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
.a--mhead{
	//==colors
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
.m--0{
	@extend %mainItemColors;
	@extend %mainItemLayout;
}
.m--cont{
	@extend %mainItemContentLayout;
}
.m--head{
	@extend %mainItemHeaderLayout;
}
.m--meta{
	@extend %mainItemMetaLayout;
}
