@mixin icon(){
	display: inline-block;
	speak: none;

	//--focus whimsy
	&:hover{
		animation-duration: 0.3s;
		animation-name: iconHover;
	}
}
@keyframes iconHover{
	0%{
		transform: scale(1);
	}
	40%{
		transform: scale(1.1);
	}
	70%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}


@mixin single-icon($name, $size: 32px){
	@include icon();
	$url: '/_assets/svgs/#{$name}';
	box-sizing: border-box;
	background: url('#{$url}') no-repeat;
	background-position: left center;
	background-size: contain;
	//-# '\A' is line break to move inserted content out of visible area
	content: '\A\A' url('#{$url}') url('#{$url}');
	@include remFallback('max-height', $size);
	@include remFallback('max-width', $size);
	overflow: hidden;
	vertical-align: middle;
	width: auto;
	white-space: pre;

	//--color
	//-@ via https://codepen.io/sosuke/pen/Pjoqqp
	filter: invert(22%) sepia(70%) saturate(388%) hue-rotate(71deg);
	@include supports('dark-theme'){
		filter: invert(47%) sepia(70%) saturate(388%) hue-rotate(71deg);
	}

}
@mixin icon-with-label{
	max-width: 2.6rem;
}
@mixin icon-resize($size: 3rem){
	background-size: $size;
}
@mixin fa-icon($name, $size: 32px){
	@include single-icon($name, $size);
}
@mixin icm-icon($name, $size: 32px){
	@include single-icon($name, $size);
}
@mixin oct-icon($name, $size: 32px){
	@include single-icon($name, $size);
}

%icon-email{
	@include oct-icon('email.svg');
}
%icon-packagist{
	@include oct-icon('packagist.svg');
}
%icon-home{
	@include icm-icon('home.svg');
}
%icon-writings{
	@include icm-icon('quill.svg');
}
%icon-file-text{
	@include icm-icon('file-text.svg');
	background-position-x: 10%;
}
%icon-about{
	@include icm-icon('profile.svg');
}
%icon-portfolio{
	@include icm-icon('folder.svg');
}
@mixin icon-search($size: 32){
	@include icm-icon('search.svg', $size);
}
%icon-search{
	@include icon-search();
}
%icon-settings{
	@include icm-icon('cog.svg');
}
%icon-link{
	@include icm-icon('link.svg');
}
%icon-info{
	@include icm-icon('info.svg');
}
%icon-menu{
	@include fa-icon('list.svg');
}
%icon-twitter{
	@include fa-icon('twitter.svg');
	@include icon-resize(2.2rem);
}
%icon-github{
	@include icm-icon('github.svg');
}
%icon-linkedin{
	@include icm-icon('linkedin.svg');
}
%icon-delicious{
	@include icm-icon('delicious.svg');
}
%icon-stackoverflow{
	@include fa-icon('stack-overflow.svg');
	// @include icon-resize(2.2rem);
}
%icon-bottom{
	@include fa-icon('caret-down.svg');
	@include icon-resize(3rem);
	background-position-x: -0.5em;
}
%icon-top{
	@include fa-icon('caret-up.svg');
	@include icon-resize(3rem);
	background-position-x: -0.5em;
}
%icon-code{
	@include fa-icon('code.svg');
}
