.mediaGrid{
	@extend %block;
	list-style: none;
	text-align: center;
	@include supports('tiny'){
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 1em 2em;
		justify-content: center;
	}
}
