//==shared
%tertiaryAreaColors{
	background: map-get($colors, tertiaryBG);
	color: map-get($colors, tertiaryFG);
	a{
		color: map-get($colors, tertiaryLinkFG);
		text-decoration-color: rgba(map-get($colors, tertiaryLinkFG), 0.4);
	}
}
%secondaryAreaColors{
	background: map-get($colors, secondaryBG);
	color: map-get($colors, secondaryFG);
	a{
		color: map-get($colors, secondaryLinkFG);
		text-decoration-color: rgba(map-get($colors, secondaryLinkFG), 0.4);
		&:focus, &:hover{
			background: rgba(map-get($colors, secondaryLinkFocusBG), 0.3);
			color: map-get($colors, secondaryLinkFocusFG);
			text-decoration-color: map-get($colors, secondaryLinkFocusFG);
		}
	}
}
%secondaryAreaIconColors{
	color: map-get($colors, secondaryFG);
}
@mixin primaryAreaColors(){
	background: map-get($colors, primaryBG);
	color: map-get($colors, primaryFG);
	@include supports('dark-theme'){
		background: map-get($darkThemeColors, primaryBG);
		color: map-get($darkThemeColors, primaryFG);
	}
}
%primaryAreaColors{
	@include primaryAreaColors;
	a{
		color: map-get($colors, primaryLinkFG);
		text-decoration-color: rgba(map-get($colors, primaryLinkFG), 0.4);
		@include supports('dark-theme'){
			color: map-get($darkThemeColors, primaryLinkFG);
			text-decoration-color: rgba(map-get($darkThemeColors, primaryLinkFG), 0.4);
		}
	}
}

//==specific
%appBodyColors{
	background: map-get($colors, baseBG);
	background: rgba(map-get($colors, baseBG), 0.95);
	color: map-get($colors, baseFG);
	@include supports('dark-theme'){
		background: map-get($darkThemeColors, baseBG);
		background: rgba(map-get($darkThemeColors, baseBG), 0.95);
		color: map-get($darkThemeColors, baseFG);
	}
}
%appColors{
	@include mq(map-get($bp, appWidth)){
		border-color: map-get($colors, border);
	}
}
@mixin appContainerColors(){
	border-color: map-get($colors, border);
}
%appContainerColors{
	@include appContainerColors;
}
%appDocColors{
	background: map-get($colors, baseBG);
}
%appFooterColors{
	@extend %appContainerColors;
	@extend %secondaryAreaColors;
}
%appHeaderColors{
	@extend %appContainerColors;
	@extend %tertiaryAreaColors;
	border-bottom-color: map-get($colors, primaryBG);
	@include supports('dark-theme'){
		background: map-get($darkThemeColors, chromeHeaderBG);
		border-bottom-color: map-get($darkThemeColors, chromeHeaderBG);
	}
}
%appMainColors{
	@extend %appContainerColors;
	@extend %secondaryAreaColors;
}
%appMainFooterColors, %appMainHeaderColors{
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
%appNavAreaColors{
	@extend %appContainerColors;
	@extend %primaryAreaColors;
}
@mixin appNavItemActionColors(){
	@include appContainerColors;
	@include supports('app-grid'){
		@include primaryAreaColors;
	}
}
%contentAreaColors{
	@extend %primaryAreaColors;
	a{
		@extend %highlightedBGActions;
		&:visited{
			color: map-get($colors, linkFGVisited);
			@include supports('dark-theme'){
				color: map-get($darkThemeColors, linkFGVisited);
			}
		}
		&:active, &:focus, &:hover{
			color: map-get($colors, linkFGFocus);
			text-decoration-color: map-get($colors, linkFGFocus);
			@include supports('dark-theme'){
				color: map-get($darkThemeColors, linkFGFocus);
				text-decoration-color: map-get($darkThemeColors, linkFGFocus);
			}
		}
		&:active{
			color: map-get($colors, linkFGActive);
			@include supports('dark-theme'){
				color: map-get($darkThemeColors, linkFGActive);
			}
		}
	}
	p{
		&:first-letter{
			color: map-get($colors, strong);
			font-weight: bold;
			@include supports('dark-theme'){
				color: map-get($darkThemeColors, strong);
			}
			@include mq('print'){
				color: #000000;
			}
		}
	}
}
%mainItemColors{
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
