$appNavWidth: 13;

%appLayout{
	align-content: stretch;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 100%;
	padding: 0; //--undo ancient styles
	width: $shellMainWidth;
	@include mq(map-get($bp, appWidth)){
		border-style: solid;
		border-top-style: 0;
		border-width: 3px
	}
	@include supports('app-grid'){
		align-content: center;
		border-style: none;
		display: grid;
		grid-template-areas:
			'appRestart head'
			'appNav main'
			'appNav foot'
		;
		grid-template-columns: minmax(min-content, max-content) minmax(6em, #{$shellMainWidth + 4em});
		grid-template-rows: max-content max-content max-content;
		width: fit-content;
	}
	@include mq('print'){
		display: block; //-# grid / flex was causing cut off content in FF
		min-height: 0; //-# 100vh was cause page break in FF
		width: auto; //-# could result in narrow content
	}
}
%appContainerLayout{
	padding: remFromPx(16);
	//--move above bg
	position: relative;
	z-index: 1;
	//--prevent overflow of app in very narrow situations
	max-width: 100%;
	overflow: auto;
}
%appFooterLayout{
	@extend %appContainerLayout;
	grid-area: foot;
	order: 5;
}
%appHeaderLayout{
	@extend %appContainerLayout;
	grid-area: head;
	order: 1;
	z-index: 2;
	//---allow spinning logo to overflow
	@include mq(14){
		overflow: visible;
	}
	@include supports('sticky-header'){
		//--simulate top padding on nav that gets removed on scroll
		border-bottom-style: solid;
		border-bottom-width: 0.5em;
		//--ensure scroll paging takes into account approximate header height in ff, saf
		&:after{
			content: '';
			height: $appHeaderHeight;
			left: 0;
			pointer-events: none;
			position: fixed;
			right: 0;
			top: 0;
			z-index: -1;
		}
	}
	@include supports('app-grid'){
		border-bottom: 0;
		@include supports('sticky-header'){
			position: sticky;
			top: 0;
			z-index: 99;
		}
	}
}
%appMainLayout{
	border-bottom-style: solid;
	border-width: 3px;
	grid-area: main;
	order: 3;
	z-index: 1;
	@include supports('app-grid'){
		border-left-style: solid;
		border-right-style: solid;
	}
	@include mq('print'){
		border: 0;
	}
}
%appMainFooterLayout, %appMainHeaderLayout{
	@extend %appContainerLayout;
	@include remFallback('padding-bottom', 16px);
	@include remFallback('padding-top', 16px);
}
%appMainFooterLayout{
	border-width: 3px;
	* + &{
		border-top-style: solid;
	}
}
%appNavAreaLayout{
	@extend %appContainerLayout;
	overflow: auto;
	@include supports('sticky-nav'){
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}
	@include supports('app-grid'){
		justify-self: end;
		margin-right: -3px;
		max-width: none; //--override `%appContainerLayout`, causes shrinkage
		overflow: visible;
		padding: 0;
		width: calc(6px + 3em);
	}
	@include mq('print'){
		display: none !important;
	}
}
%appNavLayout{
	@extend %appNavAreaLayout;
	border-width: 3px;
	border-bottom-style: solid;
	order: 2;
	@include supports('sticky-nav'){
		overflow: auto;
		position: sticky;
		top: 0;
		white-space: nowrap;
		z-index: 100;
	}
	@include supports('app-grid'){
		align-self: start;
		border: 0;
		grid-area: appNav;
		overflow: visible;
		white-space: normal;
		z-index: 100;
		@include supports('sticky-nav'){
			margin-top: -3em;
			position: sticky;
			top: 0;
			//--accomodate restart nav
			&[data-js]{
				margin-top: 0;
				top: calc(3px + 3em);
			}
		}
	}
}
%appNavItemLayout{
	display: inline-block;
	margin: 0 1em 0 0;
	@include supports('app-grid', 'sticky-nav'){
		z-index: 100;
	}
	@include supports('app-grid'){
		display: block;
		height: calc(3px + 3em);
		margin: -3px 0 0;
		position: relative;
		width: calc(6px + 3em);
	}
}
%appNavItemActionLayout{
	background: none;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;

	//--undo native button styles
	border: 0;
	font-family: inherit;
	line-height: inherit;
	padding: 0;

	&:after{
		display: block;
		font-size: 0.75em;
		speak: none;
		text-align: center;
		@include supports('app-grid'){
			content: '';
			display: none;
		}
	}
	&:focus, &:hover{
		text-decoration: underline;
	}
	@include supports('app-grid'){
		border-style: solid;
		border-width: 3px;
		display: block;
		height: 100%;
		left: 0;
		max-width: 100%;
		overflow: hidden;
		padding: 0.4em 0.5em;
		position: absolute;
		text-align: center;
		top: 0;
		transition: max-width 0.2s;
		white-space: nowrap;
		&:focus, &:hover{
			text-decoration: none; //--override
			max-width: $appNavWidth * 1em;
		}
	}
	//--when we can expand to the left instead of right
	@include supports('wide-app-grid'){
		left: auto;
		right: 0;
	}
}
%appNavItemHashLayout{
	display: none;
}
@mixin appNavItemIconLayout(){
	@include supports('app-grid'){
		@include icon-with-label();
	}
}
%appNavItemTextLayout{
	margin-left: 0.6em;
	vertical-align: middle;
	&, _:after{ //-# hide text if pseudo supported, will show small alternative
		@extend %sro;
		margin-left: 0;
		@include supports('app-grid'){
			@include sroOff();
		}
	}
}
%appNavListLayout{
	list-style: none;
	margin: 0;
	padding: 0;
	@include supports('app-grid'){
		display: block;
		margin: 0;
	}
}
%appRestartNavActionLayout{
	@include supports('fixed-nav', 'sticky-nav'){
		padding: 0.25em 0.75em;
	}
	@include supports('app-grid'){
		padding: 0.4em 0.5em;
	}
}
%appRestartNavLayout{
	@extend %appNavAreaLayout;
	@extend %appNavItemLayout;
	margin: 0;
	order: 20;
	@include supports('fixed-nav', 'sticky-nav'){
		align-self: end;
		-webkit-align-self: flex-end; //-# autoprefixer seems to get this wrong
		border-style: solid;
		border-width: 3px;
		border-right: 0;
		bottom: -3px; //--hide bottom border until the bottom
		$bottomMargin: -2.9em; //--suck down even with end logo
		$topMargin: -3px; //--don't show top border when unstuck
		margin: $topMargin 0 $bottomMargin;
		padding: 0;
		position: sticky;
		z-index: 99;
	}
	//--for no-grid wvp
	@include supports('fixed-nav'){
		margin: 0;
		position: fixed;
		right: 0;
	}
	@include supports('app-grid'){
		align-self: end;
		border: 0;
		bottom: auto;
		grid-area: appRestart;
		$rightMargin: -3px; //--duplicated from `appNavAreaLayout` because of order
		margin: 0 $rightMargin 0 0;
		top: 0;
		z-index: 100;
		@include supports('sticky-nav'){
			position: sticky;
		}
	}
}
%mainItemLayout{
	@extend %appContainerLayout;
	border-width: 3px;
	* + &{
		border-top-style: solid;
	}
	@include mq(map-get($bp, verySmall)){
		padding: remFromPx(24);
	}
	@include mq(map-get($bp, small)){
		padding: remFromPx(32) remFromPx(24);
	}
	@include mq(map-get($bp, medium)){
		padding: remFromPx(32);
	}
}
%mainItemContentLayout{
	@extend %block;
	* + &{
		@include remFallback('margin-top', 25);
	}
}
%mainItemHeaderLayout{
	@extend %block;
	> h1, > h2{
		margin: 0;
	}
}
%mainItemMetaLayout{
	> *{
		display: inline-block;
		margin-right: 1em;
	}
	h2, .h2{
		font-size: 1em;
	}
}
%mainItemMetaMainLayout{
	> *{
		display: inline-block;
	}
}
