%appContainerLayout{
	padding: remFromPx(16);
	position: relative;
	//--prevent overflow of app in very narrow situations
	max-width: 100%;
	overflow: auto;
	@include mq('print'){
		overflow: visible;
	}
}
%appNavAreaLayout{
	@extend %appContainerLayout;
	overflow: auto;
	@include supports('app-grid'){
		justify-self: end;
		margin-right: -3px;
		max-width: none; //--override `%appContainerLayout`, causes shrinkage
		overflow: visible;
		width: calc(6px + 3.5em);
	}
	@include mq('print'){
		display: none !important;
	}
}
%appNavItemLayout{
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	@include supports('app-grid', 'sticky-nav'){
		z-index: 101;
	}
	@include supports('app-grid'){
		display: block;
		margin-top: -3px;
		position: relative;
	}
}
%mainItemLayout{
	@extend %appContainerLayout;
	border-width: 3px;
	* + &{
		border-top-style: solid;
	}
	@include mq(map-get($bp, verySmall)){
		padding: remFromPx(24);
	}
	@include mq(map-get($bp, small)){
		padding: remFromPx(32) remFromPx(24);
	}
	@include mq(map-get($bp, medium)){
		padding: remFromPx(32);
	}
}
%mainItemContentLayout{
	@extend %block;
	* + &{
		@include remFallback('margin-top', 25);
	}
}
%mainItemHeaderLayout{
	@extend %block;
	> h1, > h2{
		margin: 0;
	}
}
%mainItemMetaLayout{
	> *{
		display: inline-block;
		margin-right: 1em;
	}
	h2, .h2{
		font-size: 1em;
	}
}
%mainItemMetaMainLayout{
	> *{
		display: inline-block;
	}
}
