//--shadow to help separate item from bg
@mixin appShadow($depth: 2em){
	bottom: 0;
	box-shadow: 0 0 $depth round($depth / 2) rgba(0,0,0,0.3);
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
