parameters:
  assets.web_root: '/_assets-dev'
  assets.dist_path: '%kernel.project_dir%/dist/public%assets.web_root%'

imports:
 - {resource: config.yml}

framework:
 router:
  resource: "%kernel.root_dir%/config/routing_dev.yml"
  strict_requirements: true
 profiler: {only_exceptions: false}

monolog:
 handlers:
  console:
   bubble: false
   channels: ['!event']
   type: console
  main:
   channels: ['!event']
   level: notice
   type:  error_log
  #-! for deprecations
  info:
   level: info
   type: error_log
   channels: [php]

web_profiler:
 toolbar: true
 intercept_redirects: false
