public_home:
  controller: PublicApp\Controller\DefaultController::pageAction
  path: /
  defaults: {id: ''}
public_home_default_redirect:
  controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
  path: /index{dotformat}
  defaults:
    path: /
    permanent: true
  requirements:
    dotformat: (\.html|\.php)?
public_home_formatted:
  controller: PublicApp\Controller\DefaultController::pageAction
  path: /index.{_format}
  defaults:
    id: index
public_blog:
  controller: PublicApp\Controller\DefaultController::blogAction
  path: /tblog{rest}
  defaults: {_format: html, rest: '/'}
  requirements:
    rest: .*

##==meta
public_app_manifest:
  controller: PublicApp\Controller\MetaController::appManifestAction
  path: /app-manifest.json
public_error_418:
  controller: PublicApp\Controller\MetaController::showExceptionAction
  path: /418
  defaults: {code: 418}
public_error_coffee:
  controller: PublicApp\Controller\MetaController::showExceptionAction
  path: /coffee
  defaults: {code: 418}
public_humans_default_redirect:
  controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
  path: /humans.html
  defaults: {path: /humans, permanent: true}
public_humans:
  controller: PublicApp\Controller\MetaController::humansAction
  path: /humans.{_format}
  defaults: {_format: 'html'}
public_proxy_service_worker:
  controller: PublicApp\Controller\MetaController::proxyServiceWorkerAction
  path: /_proxy-sw.js
public_robots_default_redirect:
  controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
  path: /robots.html
  defaults: {path: /robots, permanent: true}
public_robots:
  controller: PublicApp\Controller\MetaController::robotsAction
  path: /robots.{_format}
  defaults: {_format: 'html'}
public_site_nav:
  controller: PublicApp\Controller\MetaController::siteNavAction
  path: /_site-nav.{_format}
  defaults: {_format: null}

##--seo
public_bing_verification:
  controller: PublicApp\Controller\MetaController::bingVerificationAction
  path: '/BingSiteAuth.xml'
public_google_verification:
  controller: PublicApp\Controller\MetaController::googleVerificationAction
  path: '/%google-verification%'

##==demo
_demo:
  controller: PublicApp\Controller\DemoController::demoAction
  path: /_demo

##==pages
public_page_formatted:
  controller: PublicApp\Controller\DefaultController::pageAction
  path: /{id}.{_format}
  requirements:
    id: .*
public_page:
  controller: PublicApp\Controller\DefaultController::pageAction
  path: /{id}
  requirements:
    id: .*
public_wiki_page:
  controller: TJM\WikiSite\WikiSite::viewAction
  path: /{path}
  requirements:
    path: .*
#--base for outputting generic URLs
public_base:
 defaults:
  url: null
 host: '%public.host%'
 path: /{url}
 requirements:
  url: .*
 schemes: [https,http]
