body{
	background: map-get($colors, baseBG);
	background: rgba(map-get($colors, baseBG), 0.95);
	margin: auto;
	min-height: 100%; min-height: 100vh;
	opacity: 0.95;
	padding: 0;
	position: relative;
}
html{
	background: map-get($colors, baseBG);
	background-image: none, url('/bundles/public/grunge-pattern.png'); //-# `none,` to hide grunge background in some older browsers that show it full blast
	margin: auto;
	height: 100%;
	padding: 0;
	position: relative;
}
.docBody{
	align-items: stretch;
	display: flex; //-# used to swap order of header and doc nav
	flex-direction: column;
	margin-bottom: 1em;
	@include supportsFixed(){
		display: block; //-# flex contains margins, preventing hover from going through to background
		@include fixedNavMQ(){
			margin-bottom: 0;
			//--make room for nav
			padding-bottom: map-get($padding, 'chromeDocTopBottom-small') + 0.25em * 2;
		}
		//--space for fixed header
		@include mq('only screen and (min-height: ' + (map-get($bpHeight, 'fixedHeader') * 1em) + ')'){
			padding-top: 3.6em;
			@include mq('(min-width: ' + (map-get($bp, "medium") * 1em) + ')'){
				padding-top: 2.6em;
			}
		}
	}

	//-- ie 10-11 has problem with 'center' and main content width, which goes out of screen bounds when narrower than vp
	-ms-flex-align: stretch;
	@include mq(unitless($shellMainWidth)){
		-ms-flex-align: center;
	}

	//--padding matching spacing between mainItems
	@include mq(map-get($bp, medium)){
		padding-bottom: 2em;
	}
	@include mq('screen and (min-width: 48em) and (min-height: 40em)'){
		padding-bottom: 3em;
	}
	@include mq('screen and (min-width: 48em) and (min-height: 50em)'){
		padding-bottom: 4em;
	}
}

//==docBG
.docBG{
	opacity: 0.05; filter: alpha(opacity=5); //-# out here to prevent flash when crossing breakpoint
	@include mq(map-get($bp, wide)){
		@include fullContainerCover();
		background: url('/bundles/public/webStuff.jpg') left top;
		content: ' ';
		transition: opacity 1.8s ease /* 0.2s*/;
		&:hover{
			opacity: 0.60; filter: alpha(opacity=60);
		}
	}
}

//--don't show focus ring for non-actionable focused items
[tabindex='-1']:focus{
	// outline: 0;
	// outline: none;
}
