.app{
	@extend %appColors;
	@extend %appLayout;
}
body{
	@extend %appBodyColors;
	@extend %appFonts;
	@extend %appGrungeChild;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0 0 0.5em;
	position: relative;
	@include mq('print'){
		display: block;
	}
}
html{
	@extend %appDocColors;
	@extend %appGrunge;
	@extend %tenBasedRem;
	padding: 0;
	// position: relative;
}

//==bg
.appBG{
	opacity: 0.05; filter: alpha(opacity=5); //-# out here to prevent flash when crossing breakpoint
	@include mq(map-get($bp, wide)){
		@include fullContainerCover();
		background: url('/bundles/public/webStuff.jpg') left top;
		content: ' ';
		transition: opacity 1.8s ease /* 0.2s*/;
		&:hover{
			opacity: 0.60; filter: alpha(opacity=60);
		}
	}
}
