$docTargetActionBorderWidth: 0.1875em;
$docTargetActionWidthHeight: 2.825em;
$docTargetNavBoxShadow: 0 0 10px rgba(map-get($colors, shadow), 0.5);
.docTargetNavList{
	list-style: none;
	margin: 0;
	padding: 0;
}
.docTargetNavItem{
	display: inline-block;
	vertical-align: middle;
	@include supportsFixed(){
		@include fixedNavMQ(){
			float: left;
			line-height: 1;
			margin-right: $docTargetActionBorderWidth;
		}
	}
}
%docTargetAction{
	background: map-get($colors, mainBG);
	display: inline-block;
	outline: $docTargetActionBorderWidth solid rgba(map-get($colors, boxOutline), 0.6);
	box-shadow: $docTargetNavBoxShadow;
	margin-bottom: $docTargetActionBorderWidth;
	min-height: $docTargetActionWidthHeight;
	padding: 0.45em 0.65em;
	text-decoration: none;
	@include supportsFixed(){
		@include fixedNavMQ(){
			box-shadow: none;
			margin-bottom: 0;
			max-width: $docTargetActionWidthHeight;
			overflow: hidden;
			transition: max-width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.15s;
			white-space: nowrap;
			&:active, &:focus, &:hover{
				max-width: 11em;
				z-index: 1000;
			}
		}
		@include fixedNavMQ(map-get($bp, medium)){
			opacity: 0.5;
			//-@ http://easings.net/#easeOutCirc
			&:active, &:focus, &:hover{
				opacity: 1;
			}
		}
		@include fixedNavMQ(map-get($bp, veryBerryWide)){
			max-width: none;
			width: 11em;
		}
	}
	&:before{
		display: inline-block;
		font-size: 1.8em;
		margin-right: 0.3em;
		vertical-align: middle;
	}
}
%docTargetAction-arrow{
	padding-bottom: 0.65em;
	padding-top: 0.65em;
	&:before{
		//--make icon size similar to others
		font-size: 2.5em;
		//--tweak vertical alignment
		line-height: 0.6em;
		position: relative;
		top: -0.05em;
	}
}
%docTargetText{
	padding-right: 0.4em;
	vertical-align: middle;
}
.docTargetAction-bottom{
	@extend %docTargetAction;
	@extend %docTargetAction-arrow;
	&:before{
		@extend %icm-bottom;
	}
}
.docTargetAction-main{
	@extend %docTargetAction;
	&:before{
		@extend %icm-file-text;
	}
}
.docTargetAction-top{
	@extend %docTargetAction;
	@extend %docTargetAction-arrow;
	position: relative;
	z-index: 3;
	@include supportsFixed(){
		@include fixedNavMQ(){
			bottom: 0;
			left: 0;
			line-height: 1;
			position: fixed;
		}
		@include fixedNavMQ(map-get($bp, medium)){
			bottom: auto;
			left: 0;
			transform: translateY(-$docTargetActionWidthHeight * 1.5 - $docTargetActionBorderWidth * 1.5);
			top: 50%;
		}
	}
	&:before{
		@extend %icm-top;
	}
}
%docTargetNav{
	text-align: center;
	@include mq('print'){
		display: none;
	}
}
.docTargetNav-bottom{
	@extend %docTargetNav;
}
.docTargetNav-top{
	@extend %docTargetNav;
	order: 2; //--below header
	position: relative;
	z-index: 3;
	@include supportsFixed(){
		@include fixedNavMQ(){
			bottom: -$docTargetActionBorderWidth;
			box-shadow: $docTargetNavBoxShadow;
			left: 0;
			padding-left: $docTargetActionWidthHeight + $docTargetActionBorderWidth;
			position: fixed;
		}
		@include fixedNavMQ(map-get($bp, medium)){
			bottom: 50%;
			padding-left: 0;
			padding-top: $docTargetActionWidthHeight + $docTargetActionBorderWidth;
			transform: translateY(50%);
			width: $docTargetActionWidthHeight;
		}
	}
}
.docTargetHash{
	display: none;
}
.docTargetText{
	@extend %docTargetText;
}
