.appFooter{
	@extend %appFooterColors;
	@extend %appFooterLayout;
}
.appEndLogo{
	@extend %appLogoBase;
	flex: 0 0 auto;
	//--align right
	$leftMargin: auto;
	text-align: right; //--really old browsers
	//--in front of doc bg
	position: relative;
	z-index: 1;
	//--shrink-to-fit
	display: table;
	//--subdued, emphasise on hover
	@extend %wiggleHoverAnimation;
	$rightMargin: 1em; //--prevent wiggle from overflowing window
	opacity: 0.5;
	transition: opacity 0.2s;
	&:hover{
		opacity: 1;
	}
	//--rest
	margin: 0.5em $rightMargin 0 $leftMargin;
}
.appSecureMessage{
	@include mq('print'){
		display: none;
	}
}
