.appHeader{
	@extend %appHeaderColors;
	@extend %appHeaderLayout;
}
.appLogo, .appHeaderTagline{
	display: inline-block;
	vertical-align: middle;
}
.appHeaderTagline{
	@extend %wiggleHoverAnimation;
	transform-origin: left;
}
.appHeaderTaglineWVP{
	display: none;
	@include mq(map-get($bp, small)){
		display: inline;
	}
}
%appLogoBase{
	@extend %font-bold;
	color: map-get($colors, chromeLogo);
	font-size: map-get($fontSizes, logo);
}
.appLogo{
	@extend %appLogoBase;
	@extend %spinHoverAnimation;
	margin: -0.3em 0;
	@include mq(map-get($bp, logoTwist)){
		transform: rotate(-15deg) translate(5px, -1px);
	}
}
.appLogoAction{
	text-decoration: none;
	&:focus:focus, &:hover:hover{
		//--fight default link styles
		background: none;
	}
	@include mq('print'){
		&:after, &:before{
			display: none;
		}
	}
}
