@mixin siteNavIconColors(){
	filter: brightness(7); //-! change color of icons. would be nice if we could do this a different way.  could use tweaking
}
.siteNav{
	@extend %appContainerLayout;
	@extend %secondaryAreaColors;
	padding: 1.5em;
	font-size: 1.2em;
	.app &{
		bottom: 0;
		max-width: 90%;
		overflow: auto;
		position: fixed;
		right: 0;
		top: 0;
	}
	&Action{
		display: inline-block;
		text-decoration: none;
		white-space: nowrap;
	}
	&Item{
		padding: 0 0.5em;
		* + &{
			margin-top: 0.6em;
		}
	}
	&List{
		list-style: none;
		margin: 0;
		padding: 0;
		* + &{
			margin-top: 0.6em;
		}
		& &{
			border-left: 3px solid;
			margin-left: 0.7em;
			padding-left: 0.4em;
		}
	}
}
//-! can probably extract some of these styles into more general form styles
.siteNavSearch{
	position: relative;
	> button{
		background: none;
		border: 0;
		color: inherit;
		height: 100%;
		line-height: 100%;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		&:before{
			$size: 20;
			@include icm-search($size);
			@include siteNavIconColors();
			@include remFallback('height', $size);
			margin-right: 0.5em;
			vertical-align: middle;
			@include remFallback('width', $size);
		}
		> span{
			@extend %sro;
		}
	}
	input{
		background: none;
		border: 1px solid;
		color: inherit;
		padding: 0.25em 1.75em 0.25em 0.25em;
		transition: width 0.2s ease;
		width: 8em;
		&:focus{
			background: rgba(map-get($colors, secondaryFG), 0.05);
			width: 14em; width: 100vw;
		}
	}
	&Label{
		@extend %sro;
	}
}

//==icons
.siteNavAction{
	&:before{
		@extend %secondaryAreaIconColors;
		content: '»';
		margin-right: 0.8em;
		vertical-align: middle;
	}
	&[data-type]{
		&:before{
			@include siteNavIconColors();
		}
	}
	&[data-type='about']{
		&:before{
			@extend %icm-about;
		}
	}
	&[data-type='home']{
		&:before{
			@extend %icm-home;
		}
	}
	&[data-type='blog']{
		&:before{
			@extend %icm-writings;
		}
	}
}
