@import '../../share/fix';
//==root styles
:root{
	color-scheme: light dark;
}
[tabindex='-1']:focus{
	outline: none;
}

//==element modules
*{
	//-# autoprefixer versions too high for handling border box, but it is too important
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	margin: 0;
	text-decoration-skip: ink;
}
b, strong{
	//-# only really necessary if using @font-face with a bold variant
	@extend %font-bold;
	color: map-get($colors, strong);
	color: var(--strongFG);
}
b em, b i, em b, em strong, i b, i strong, strong em, strong i{
	//-# only really necessary if using @font-face with a bold italic variant and having these combinations of elements.  Uncomment if desired.
	//-! @extend %font-boldItalic;
}
button{
	font-size: 1em;
}
code{
	background: map-get($colors, codeBG);
	background: var(--codeBG);
	color: map-get($colors, codeFG);
	color: var(--codeFG);
	display: inline-block; //-# prevents wrapping of element
	font-family: inherit;
	padding: 0 0.5em;
	vertical-align: middle; //-# baseline seems off, this looks best
	@include mq('print'){
		&:after, &:before{
			content: '`'
		}
	}
	pre &{
		display: block;
		overflow: auto;
		padding: 1em;
		@include mq('print'){
			padding: 0;
			&:after, &:before{
				content: '```';
				display: block;
			}
		}
	}
}
del{
	text-decoration-color: map-get($colors, proofreadersMark);
	text-decoration-color: var(--proofreadersMarkFG);
}
em, i{
	//-# only really necessary if using @font-face with an italic variant
	@extend %font-italic;
}
em{
	color: map-get($colors, strong);
	color: var(--strongFG);
}
main form{
	@extend %block;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	@extend %block;
	@extend %font-heading;
	color: map-get($colors, heading);
	color: var(--headingFG);

	//--less line height than normal text. gets big otheriwse
	line-height: 1.4;
	* + &{
		@include remFallback('margin-top', 25);
	}

	a{
		color: inherit;
	}
	em, i{
		//-# only really necessary if using @font-face with a bold italic variant and having these combinations of elements.  Uncomment if desired.
		//-! @extend %font-boldItalic;
	}
}
h1,.h1{
	@include fontSize(map-get($fontSizes, h1));
}
h2,.h2{
	@include fontSize(map-get($fontSizes, h2));
}
h3,.h3{
	@include fontSize(map-get($fontSizes, h3));
}
h4,.h4{
	@include fontSize(map-get($fontSizes, h4));
}
h5,.h5{
	@include fontSize(map-get($fontSizes, h5));
}
h6,.h6{
	@include fontSize(map-get($fontSizes, h6));
}
hr{
	border: 0;
	background: map-get($colors, border);
	background: var(--borderColor);
	height: 2px;
	margin: 1.5em 0;
	opacity: 0.4;
	&:last-child{
		display: none;
	}
}
img, picture, video{
	@include supports('dark-theme'){
		//--desaturate for dark theme
		filter: brightness(0.8) saturate(0.8);
	}
}
li{
	& + &{
		margin-top: 0.5em;
	}
}
iframe{
	@extend %block;
}
input, select, td, textarea, th{
	font-size: 1em;
}
ins{
	background: map-get($colors, insertBG);
	background: var(--insertBG);
	text-decoration: none;
	&:before{
		color: map-get($colors, proofreadersMark);
		color: var(--proofreadersMarkFG);
		content: '^';
		display: inline-block;
		left: -0.2em;
		position: relative;
		top: 0.7em;
		width: 0.2em;
	}
}
ol, ul{
	padding-left: 1.2em;
	margin-left: 0;
}
ol{
	padding-left: 1.8em;
}
p{
	@extend %block;
}
pre{
	@extend %block;
	font-family: inherit;
	@include mq('print'){
		white-space: normal; white-space: pre-wrap;
	}
}
::selection{
	background: var(--selectionBG);
	color: var(--selectionFG);
}
table{
	@extend %block;
	border-collapse: collapse;
	border-spacing: 0;
}
table
,td
,th
,tr
{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: '- ';
}
