@mixin icon(){
	display: inline-block;
	speak: none;

	//--focus whimsy
	&:hover{
		animation: 0.3s iconHover;
	}
	//--print
	@include mq('print'){
		filter: none !important;
		max-height: none;
		// white-space: normal;
	}
}
@keyframes iconHover{
	0%{
		transform: scale(1);
	}
	40%{
		transform: scale(1.1);
	}
	70%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}

@mixin single-icon(){
	@include icon();
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	@include remFallback('height', 32px);
	@include remFallback('width', 32px);
	vertical-align: middle;
}
%single-icon{
	@include single-icon();
}
@mixin svg-icon($name){
	$url: '/_assets/svgs/#{$name}';
	background-image: url('#{$url}');
	content: '';
}
@mixin fa-icon($name){
	@include svg-icon($name);
}
@mixin icm-icon($name){
	@include svg-icon($name);
}
@mixin oct-icon($name){
	@include svg-icon($name);
}
@mixin icon-size($size: 32px){
	@include remFallback('height', $size);
	@include remFallback('width', $size);
}
@mixin icon-base-color(){
	//--color
	//-@ via https://codepen.io/sosuke/pen/Pjoqqp
	filter: invert(22%) sepia(70%) saturate(388%) hue-rotate(71deg);
	@include supports('dark-theme'){
		filter: invert(47%) sepia(70%) saturate(388%) hue-rotate(71deg);
	}
}
%icon-base-color{
	@include icon-base-color;
}
@mixin icon-with-label{
	margin-right: 0.8em;
}
@mixin icon-resize($size: 3rem){
	background-size: $size;
}
%icon-email{
	@extend %single-icon;
	@include oct-icon('email.svg');
}
%icon-packagist{
	@extend %single-icon;
	@include oct-icon('packagist.svg');
}
%icon-home{
	@extend %single-icon;
	@include icm-icon('home.svg');
}
%icon-writings{
	@extend %single-icon;
	@include icm-icon('quill.svg');
}
%icon-file-text{
	@extend %single-icon;
	@include icm-icon('file-text.svg');
	background-position-x: 10%;
}
%icon-about{
	@extend %single-icon;
	@include icm-icon('profile.svg');
}
%icon-portfolio{
	@extend %single-icon;
	@include icm-icon('folder.svg');
}
@mixin icon-search(){
	@include icm-icon('search.svg');
}
%icon-search{
	@extend %single-icon;
	@include icon-search();
}
%icon-settings{
	@extend %single-icon;
	@include icm-icon('cog.svg');
}
%icon-link{
	@extend %single-icon;
	@include icm-icon('link.svg');
}
%icon-info{
	@extend %single-icon;
	@include icm-icon('info.svg');
}
%icon-menu{
	@extend %single-icon;
	@include fa-icon('list.svg');
}
%icon-github{
	@extend %single-icon;
	@include icm-icon('github.svg');
}
%icon-bottom{
	@extend %single-icon;
	@include fa-icon('caret-down.svg');
	@include icon-resize(3rem);
	background-position-x: -0.5em;
}
%icon-top{
	@extend %single-icon;
	@include fa-icon('caret-up.svg');
	@include icon-resize(3rem);
	background-position-x: -0.5em;
}
%icon-code{
	@extend %single-icon;
	@include fa-icon('code.svg');
}
