<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
	backupGlobals = "false"
	bootstrap = "bootstrap.php"
	colors = "true"
>
	<testsuites>
		<testsuite name="Public Test Suite">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="error_reporting" value="-1" />
		<server name="KERNEL_CLASS" value="TJM\Bundle\StandardEditionBundle\Component\TestKernel" />
	</php>
	<filter>
		<whitelist>
			<directory>.</directory>
			<exclude>
				<directory>Resources</directory>
				<directory>Tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
	</listeners>
</phpunit>
