%appGrunge{
	background-image: none, url('/bundles/public/grunge-pattern.png'); //-# `none,` to hide grunge background in some older browsers that show it full blast
	height: 100%; //--ensure full grunge coverage
}
%appGrungeChild{
	opacity: 0.95; //--let grunge peek through
	min-height: 100%; //--ensure full grunge coverage
	@include mq('print'){
		opacity: 1;
	}
}
