*{
	box-sizing: border-box;
	word-wrap: break-word;
	word-wrap: anywhere;
}
a{
	color: inherit;
	text-decoration-color: rgba(209, 255, 209, 0.5);
	transition: color 0.2s;
}
a:focus, a:hover{
	color: #90df90;
}
.appBG{
	z-index: -1;
}
body, html{
	background: rgba(78,120,78,0.95);
	margin: 0;
	padding: 0;
}
body{
	min-height: 100%;
	/* min-height: 100vh; */
	opacity: 0.95;
	text-align: center;
	height: 100%;
}
.card{
	background: #353;
	border: 3px solid #002c00;
	box-shadow: inset 0 0 1em 0.5em #242;
	color: rgb(209, 255, 209);
	overflow: hidden;
	padding: 1em;
	position: relative;
	min-height: 100%;
	/*! min-height: 100vh; */
}
.cardCol1{
	text-align: center;
	margin-bottom: 1.5em;
}
* + .cardGroup, * + .cardItem{
	margin-top: 0.5em;
}
.cardImage{
	display: block;
	filter: contrast(1.5);
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	opacity: 0.6;
	transition: opacity 0.4s;
	-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 100%);
	mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 100%);
}
.card:hover .cardImage{
	opacity: 1;
}
.cardItem strong{
	font-size: 1.4em;
}
.cardItemEtc{
	display: inline-block;
}
.cardMedia{
	-webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 100%);
	mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 100%);
	mix-blend-mode: darken;
}
.cardCol1{
	position: relative;
}
.cardCol1:after{
	background: url('/_toby.jpg') center center no-repeat;
	background-size: cover;
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	-webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 100%);
	mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 100%);
	transition: opacity 0.5s;
	width: 100%;
}
.cardCol1:hover:after{
	opacity: 1;
}
.cardLogoText{
	color: #333;
	font-size: 2em;
	line-height: 1;
	opacity: 0.9;
	pointer-events: none;
	position: absolute;
	right: -0.1em;
	text-align: center;
	top: 1em;
	transform: rotate(45deg);
	transition: color 0.2s, opacity 0.2s, transform 1s;
	white-space: nowrap;
	z-index: 1;
}
.card:hover .cardLogoText{
	color: rgb(209, 255, 209);
	opacity: 0.6;
	transform: rotate(1125deg);
}
.cardMedia{
	display: inline-block;
	position: relative;
}
h1{
	border-bottom: 2px solid;
	color: #90df90;
	font-size: 2em;
	margin: 0 0 18px;
	padding: 0 0 10px;
	line-height: 1.1;
}
h1 span{
	/*--needed for first letter */
	display: inline-block;
}
h1 span:first-letter{
	color: #66ce66;
}
html{
	background-image: none, url("//www.tobymackenzie.com/_assets/grunge-pattern.png");
	font-family: meslo, "Meslo LG S", menlo, "Menlo Regular", cousine, Consolas, "Courier New", courier, monospace;
	height: 100%;
}
@media (min-width: 20em){
	.card{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.cardMedia{
		display: inline-flex;
		min-height: 8em;
		height: 50vh;
	}
}
@media (min-height: 500px), (min-width: 30em){
	.cardMedia{
		height: auto;
	}
}
@media (min-width: 30em){
	.card{
		align-items: center;
		flex-direction: row;
	}
	.cardImage{
		min-height: 10em;
		max-height: calc(100vh - 2.8em);
	}
	.cardCol1, .cardCol2{
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
	.cardCol1{
		margin: -1.5em 1em -1.5em -1.5em;
	}
}
@media (min-width: 30em) and (min-height: 24em){
	body{
		align-items: center;
		display: flex;
		justify-content: center;
		height: auto;
		min-height: 100%;
		padding: 0.5em; /*--ensure rotation doesn't cause scroll bars */
	}
	.card{
		align-items: flex-end;
		padding: 1.5em;
		transform: rotate(2deg);
		transition: transform 0.2s;
	}
	.card:hover, .card:focus-within{
		transform: rotate(0deg);
	}
	.cardCol1{
		align-self: stretch;
		width: auto;
	}
	.cardCol1:after{
		mix-blend-mode: hard-light;
	}
	.cardCol1:hover:after{
		opacity: 0.6;
	}
	.cardCol2{
		padding: 8px 0; /*--alignment for fuzzy image inset */
	}
	h1{
		font-size: 3em;
		width: 5.8em;
	}
	@supports (object-fit: cover){
		.cardMedia{
			height: 100%;
		}
	}
}
