m--img img{
	display: block;
	margin: 0 auto 1em;
	max-height: 50vh;
	//--fade
	filter: saturate(0.8) sepia(1) hue-rotate(90deg);
	mask: radial-gradient(ellipse, white 21%, transparent 75%);
	opacity: 0.5;
	transition: filter 0.2s, opacity 0.2s;
	&:hover{
		filter: none;
		opacity: 0.7;
	}
	@include supports('prettySmall'){
		float: right;
		margin: 0 0 1em 1em;
	}
}

//==animations
%wiggleHoverAnimation{
	@supports (animation-name: a){ //--loses safari 5.1, which has a weird bug with this animation (flashing of main content area).  Also loses ie and others though
		&:hover{
			animation: 0.4s wiggle;
		}
	}
}
	@keyframes wiggle{
		0%{
			transform: skew(0);
		}
		20%{
			transform: skew(12deg);
		}
		40%{
			transform: skew(-12deg);
		}
		60%{
			transform: skew(8deg);
		}
		80%{
			transform: skew(-8deg);
		}
		100%{
			transform: skew(0);
		}
	}
