//==animations
%wiggleHoverAnimation{
	@supports (animation-name: a){ //--loses safari 5.1, which has a weird bug with this animation (flashing of main content area).  Also loses ie and others though
		&:hover{
			animation: 0.4s wiggle;
		}
	}
}
	@keyframes wiggle{
		0%{
			transform: skew(0);
		}
		20%{
			transform: skew(12deg);
		}
		40%{
			transform: skew(-12deg);
		}
		60%{
			transform: skew(8deg);
		}
		80%{
			transform: skew(-8deg);
		}
		100%{
			transform: skew(0);
		}
	}
