code{
	background: map-get($colors, codeBG);
	background: var(--codeBG);
	color: map-get($colors, codeFG);
	color: var(--codeFG);
	display: inline-block; //-# prevents wrapping of element
	font-family: inherit;
	padding: 0 0.5em;
	vertical-align: middle; //-# baseline seems off, this looks best
	@include mq('print'){
		&:after, &:before{
			content: '`'
		}
	}
	pre &{
		display: block;
		padding: 1em;
		@include mq('print'){
			padding: 0 !important;
			&:after, &:before{
				content: '```';
				display: block;
			}
		}
	}
	pre[class^='language-'] &{
		padding-top: 0.4em;
	}
}
pre:has(code){
	background: map-get($colors, codeBG);
	background: var(--codeBG);
	color: map-get($colors, codeFG);
	color: var(--codeFG);
	max-height: 80dvh;
	overflow: auto;
}
//==tokens
@include codeLabels($bg: var(--linkFocusFG), $fg: var(--linkFocusBG));
.token{
	&.atrule,
	&.attr-value,
	&.keyword
	{
		color: #f66;
	}
	&.attr-name,
	&.builtin,
	&.char,
	&.inserted
	&.selector,
	&.string,
	{
		color: #dfee79;
	}
	&.bold,
	&.important
	{
		font-weight: bold;
	}
	&.boolean,
	&.constant,
	&.deleted
	&.number,
	&.property,
	&.symbol,
	&.tag,
	{
		color: #dfbf5e;
	}
	&.cdata,
	&.doctype,
	&.prolog
	{
		color: #aba;
	}
	&.comment{
		color: #9a9;
	}
	&.class-name,
	&.function
	{
		color: #44f6ff;
	}
	&.entity{
		cursor: help;
	}
	&.entity,
	&.language-css .string,
	&.operator,
	&.style .string,
	&.url
	{
		color: #ea7979;
	}
	&.important,
	&.regex,
	&.variable
	{
		color: #f9ad25;
	}
	&.italic{
		font-style: italic;
	}
	&.namespace{
		opacity: 0.75;
	}
	&.punctuation{
		color: #3bc41e;
	}
}
