::backdrop{
	background: rgba(black, 0.6);
}
dialog{
	@extend %secondaryAreaColors;
	border: 3px solid var(--navBorder);
	@include supports('dark-theme'){
		background: var(--navBG);
	}
}
.closeAct, .closeBtn{
	background: none;
	border: 0;
	color: map-get($colors, navBorder);
	color: var(--navBorder);
	cursor: pointer;
	font-size: 1.2em;
	height: 2em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2em;
	&:focus, &:hover{
		background: var(--secondaryLinkFocusBG);
		color: var(--codeFG);
	}
	&:after{
		content: 'X';
	}
	> b{
		@extend %sro;
	}
}
//--specific
.tjmThemeSwitch{
	padding: 1rem;
}

