.m--alti{
	display: inline-block;
	margin: 0;
	& + &{
		margin-left: 0.5em;
	}
}
.m--alt{
	> strong{
		margin-right: 0.5em;
	}
	@include mq('print'){
		display: none;
	}
}
.m--altl{
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}
