.mediaGrid{
	@extend %block;
	list-style: none;
	@include supports('tiny'){
		align-items: center;
		display: grid;
		grid-gap: 1em;
		justify-content: center;
		grid-template-columns: repeat(2,auto);
	}
	@include supports('small'){
		grid-template-columns: repeat(3,auto);
	}
}
