.attribution{
	margin: 0.5em 0 1.5em;
	text-align: right;
}
blockquote{
	@extend %block;
	border-left: 3px solid rgba(map-get($colors, border), 0.6);
	border-left: 3px solid var(--quoteBorder);
	margin-left: 0;
	padding: 1em 0.5em 1em 2em;
	position: relative;
	&:after, &:before{
		@extend %font-bold;
		color: rgba(map-get($colors, strong), 0.6);
		color: #{rgba(var(--strongFG), 0.6)};
		font-size: 2em;
		line-height: 1;
	}
	&:after{
		content: "”";
		display: inline-block;
		height: 0;
		left: 0.1em;
		line-height: 0;
		position: relative;
		top: 0.9em;
		width: 0;
	}
	&:before{
		content: "“";
		left: 0.3em;
		position: absolute;
		top: 0.2em;
	}
	//--make more friendly to markdown blockquotes which have a single `<p>` for one line quotes
	&:has(:only-child)::after{
		left: -0.2em;
	}
	p:last-child{
		display: inline;
	}
}
