//=====
//==mixins
//=====
@mixin sro(
	$border: 0
	,$clip: rect(0 0 0 0)
	,$height: 1px
	,$margin: -1px
	,$overflow: hidden
	,$padding: 0
	,$position: absolute
	,$width: 1px
	,$wordWrap: normal
){
	border: $border;
	clip: $clip;
	height: $height;
	margin: $margin;
	overflow: $overflow;
	padding: $padding;
	position: $position;
	width: $width;
	word-wrap: $wordWrap;
}
%sro{
	@include sro();
}
@mixin sroOff(
	$border: initial
	,$clip: auto
	,$height: auto
	,$margin: initial
	,$overflow: visible
	,$padding: initial
	,$position: static
	,$width: auto
){
	border: $border;
	clip: $clip;
	height: $height;
	margin: $margin;
	overflow: $overflow;
	padding: $padding;
	position: $position;
	width: $width;
}
%sroOff{
	@include sroOff();
}

//=====
//==styles
//=====
@import '../share/fix';

:root{
	color-scheme: light dark;
	--bg: white;
	--fg: black;
	accent-color: var(--fg);
	@media only screen and (prefers-color-scheme: dark){
		--bg: black;
		--fg: white;
	}
}
[tabindex='-1']:focus{
	outline: none;
}

//==elements
*{
	//-# autoprefixer versions too high for handling border box, but it is too important
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, a, button:focus, button:hover, .a--nava:focus, .a--nava:hover, dialog, hr{
	background: white;
	background: var(--bg);
	color: black;
	color: var(--fg);
}
button, a:focus, a:hover, .a--nava, code, h1, input, select{
	background: black;
	background: var(--fg);
	color: white;
	color: var(--bg);
}
a:hover, .a--nava:hover{
	outline: 0.2em solid var(--fg);
}
button, .a--nava, input, select{
	border: 0;
	display: inline-block;
	font: inherit;
	padding: 0.3em 0.4em;
	text-decoration: none;
}
h1{
	margin: 0 0 1em;
	padding: 0.2em 0.3em;
}
h3:before, h4:before, h5:before, h6:before{
	border-bottom: 6px solid var(--fg);
	content: '';
	display: inline-block;
	margin-right: 16px;
	width: 20px;
}
h4:before{
	width: 40px;
}
h5:before{
	width: 60px;
}
h6:before{
	width: 80px;
}
iframe, img, svg, video{
	filter: grayscale(1);
	&:focus, &:hover{
		filter: grayscale(0.2);
	}
	&:focus-within{
		filter: grayscale(0.2);
	}
}

//==shell
html{
	font-family: 'Century Gothic', sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
}
body{
	padding: 1em;
	margin: auto;
	max-width: 92%;
	width: 48em;
}
.a--0{
	border-bottom: 6px solid var(--fg);
	margin-bottom: 1em;
	padding-bottom: 1em;
}
footer hr:last-child{
	display: none;
}

//--header
.a--head{
	@media screen and (min-width: 20em){
		margin-top: 1.5em;
	}
	@media screen and (min-width: 45em){
		margin-top: 0;
	}
	hr{
		margin-bottom: 0;
	}
}
a--htag{
	margin-right: 1em;
}
.a--message{
	display: inline-block;
}
a--logo, a--end{
	display: inline-block;
	transform: rotate(0);
	transition: transform 2s ease;
	&:hover{
		transform: rotate(-720deg);
		//--only color in theme
		color: #6a6;
	}
}
a--logo{
	font-size: 1.2em;
	transform: rotate(-15deg);
}
.a--logoa{
	text-decoration: none;
}

//--app nav
.a--navl{
	display: flex;
	flex-wrap: wrap;
	float: right;
	gap: 0.5em;
	justify-content: end;
	margin: 0 0 0.5em;
	@media screen and (min-width: 20em){
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;
	}
}
.a--navr{
	bottom: 0;
	position: fixed;
	right: 0;
	z-index: 100;
}
.a--navba, .a--navra, a--navsearch{
	a--navt{
		@extend %sro;
	}
	&:before{
		margin: 0 0.2em;
	}
}
.a--navra{
	&:before{
		content: '▲';
	}
}
.a--navba{
	&:before{
		content: '▼';
	}
}
//--site nav
.a--snava{
	text-decoration: none;
}
.a--snavsearch{
	button{
		&:before{
			content: '▶';
			margin: 0 0.2em;
		}
		span{
			@extend %sro;
		}
	}
	input{
		width: 8em;
		&:focus{
			width: 12em;
		}
	}
}
a--snavsearcht{
	@extend %sro;
}


//==modules
//--blog
.postHeaderMedia{
	text-align: center;
	margin: 0 0 1em;
	@media screen and (min-width: 30em){
		float: right;
		margin-left: 1em;
		max-width: 50%;
	}
}
.postTags{
	display: inline;
}

//--code
pre code{
	display: block;
	padding: 0.5em;
}
pre:has(code){
	background: black;
	background: var(--fg);
}
.token{
	&.attr-value,
	&.keyword
	&.cdata,
	&.doctype,
	&.prolog
	{
		opacity: 0.65;
	}
	&.attr-name,
	&.builtin,
	&.char,
	&.inserted
	&.string,
	{
		opacity: 0.85;
	}
	&.atrule,
	&.class-name,
	&.bold,
	&.function,
	&.important,
	&.selector,
	&.tag,
	&.variable
	{
		font-weight: bold;
	}
	&.boolean,
	&.constant,
	&.deleted
	&.number,
	&.property,
	&.symbol,
	{
		opacity: 0.8;
	}
	&.comment{
		opacity: 0.5;
	}
	&.entity{
		cursor: help;
	}
	&.entity,
	&.language-css .string,
	&.operator,
	&.style .string,
	&.url
	{
		opacity: 0.85;
	}
	&.italic{
		font-style: italic;
	}
	&.punctuation
	{}
	&.important,
	&.namespace,
	&.regex
	{
		opacity: 0.75;
	}
}

//--dialog
dialog{
	border: 5px solid;
	//--hack to ensure close button doesn't cover stuff on theme dialog
	min-width: 15em;
}
.closeAct, .closeBtn{
	cursor: pointer;
	font-size: 1.2em;
	height: 1.3em;
	line-height: 1;
	position: absolute;
	right: 0em;
	text-align: center;
	top: 0em;
	width: 1.2em;
	&:after{
		content: 'X';
	}
	> b{
		@extend %sro;
	}
}

//--hr
hr{
	border: 3px solid;
	margin: 1em 0;
}

//--quotes
.attribution{
	margin: 0.5em 0 1.5em;
	text-align: right;
}
blockquote{
	border-left: 3px solid;
	border-left: 3px solid;
	margin-left: 0;
	padding: 0.5em 1em;
}

//==pages
.doc-home{
	h1{
		@extend %sro;
	}
}

//==print
@import '../share/print';
