//--blog
.relNav hr:last-child{
	display: none;
}
.postHeaderMedia{
	text-align: center;
	margin: 0 0 1em;
	@media screen and (min-width: 30em){
		float: right;
		margin-left: 1em;
		max-width: 50%;
	}
}
.postTags{
	display: inline;
}

//--icons
.bigIconBlock{
	font-size: 180px;
	font-size: clamp(180px, 50vmin, 300px); //--can get bigger on modern browsers
	line-height: 1;
	padding-top: 30px;
	overflow: hidden; //- for very narrow viewports
	text-align: center;
}

//---jetpack
#jp-relatedposts#jp-relatedposts h3.jp-relatedposts-headline{
	font-size: initial;
	em:before{
		display: none;
	}
}

//--code
pre code{
	display: block;
	padding: 0.5em;
}
pre:has(code){
	@extend %altTheme;
}
.token{
	&.attr-value,
	&.cdata,
	&.doctype,
	&.prolog,
	&.property
	{
		opacity: 0.65;
	}
	&.attr-name,
	&.builtin,
	&.char,
	&.inserted,
	&.string
	{
		opacity: 0.85;
	}
	&.atrule,
	&.attr-value,
	&.bold,
	&.constant,
	&.class-name,
	&.function,
	&.important,
	&.property,
	&.punctuation,
	&.selector,
	&.tag .tag, //--html has the full tag and then tag name as a nested tag.  We just want the tag name
	&.variable
	{
		font-weight: bold;
	}
	&.boolean,
	&.constant,
	&.deleted
	&.number,
	&.symbol,
	{
		opacity: 0.8;
	}
	&.comment{
		opacity: 0.5;
	}
	&.entity{
		cursor: help;
	}
	&.entity,
	&.language-css .string,
	&.operator,
	&.style .string,
	&.url
	{
		opacity: 0.85;
	}
	&.italic{
		font-style: italic;
	}
	&.important,
	&.namespace,
	&.regex
	{
		opacity: 0.75;
	}
}

//--dialog
dialog{
	border: 5px solid;
	//--hack to ensure close button doesn't cover stuff on theme dialog
	min-width: 15em;
}
.closeAct, .closeBtn{
	cursor: pointer;
	font-size: 1.2em;
	height: 1.3em;
	line-height: 1;
	position: absolute;
	right: 0em;
	text-align: center;
	top: 0em;
	width: 1.2em;
	&:after{
		content: 'X';
	}
	> b{
		@extend %sro;
	}
}

//--quotes
.attribution{
	margin: 0.5em 0 1.5em;
	text-align: right;
}
blockquote{
	border-left: 6px solid;
	margin-left: 0;
	padding: 0.5em 1em;
}

