html{
	font-family: 'Century Gothic', sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
}
body{
	padding: 1em;
	margin: auto;
	max-width: 92%;
	width: 48em;
}
.a--0{
	border-bottom: 6px solid var(--fg);
	margin-bottom: 1em;
	padding-bottom: 1em;
}
footer hr:last-child{
	display: none;
}

//--header
.a--head{
	@media screen and (min-width: 20em){
		margin-top: 1.5em;
	}
	@media screen and (min-width: 45em){
		margin-top: 0;
	}
	hr{
		margin-bottom: 0;
	}
}
a--htag{
	margin-right: 1em;
}
.a--message{
	display: inline-block;
}
a--logo, a--end{
	display: inline-block;
	transform: rotate(0);
	transition: transform 5s ease;
	&:hover{
		transform: rotate(-720deg);
		//--only color in theme
		color: #6a6;
	}
}
a--logo{
	font-size: 1.2em;
	transform: rotate(-15deg);
}
.a--logoa{
	text-decoration: none;
}

//--app nav
.a--nava{
	@extend %altTheme;
	@extend %buttonish;
	&:focus, &:hover{
		@extend %normalTheme;
	}
	&:hover{
		@extend %buttonishHover;
	}
}
.a--navl{
	display: flex;
	flex-wrap: wrap;
	float: right;
	gap: 0.5em;
	justify-content: end;
	margin: 0 0 0.5em;
	@media screen and (min-width: 20em){
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;
	}
}
.a--navr{
	bottom: 0;
	position: fixed;
	right: 0;
	z-index: 100;
}
.a--navba, .a--navra, a--navsearch{
	a--navt{
		@extend %sro;
	}
	&:before{
		margin: 0 0.2em;
	}
}
.a--navra{
	&:before{
		content: '▲';
	}
}
.a--navba{
	&:before{
		content: '▼';
	}
}
//--site nav
.a--snava{
	text-decoration: none;
}
.a--snavsearch{
	button{
		&:before{
			content: '▶';
			margin: 0 0.2em;
		}
		span{
			@extend %sro;
		}
	}
	input{
		width: 8em;
		&:focus{
			width: 12em;
		}
	}
}
a--snavsearcht{
	@extend %sro;
}

