.doc-home{
	h1{
		@extend %sro;
		+ p{
			margin-top: 0;
		}
	}
	//-# selector will need to be more limited if we add more images
	main img{
		display: block;
		margin: 0 auto 1em;
		max-height: 50vh;
		//--fade
		filter: saturate(0.8) sepia(1) hue-rotate(90deg);
		mask: radial-gradient(ellipse, white 21%, transparent 75%);
		opacity: 0.5;
		transition: filter 0.2s, opacity 0.2s;
		&:hover{
			filter: none;
			opacity: 0.7;
		}
		@include supports('prettySmall'){
			float: right;
			margin: 0 0 1em 1em;
		}
	}
}
