.appNav{
	@extend %appNavAreaColors;
	@extend %appNavLayout;
}
.appNavItem{
	@extend %appNavItemLayout;
}
.appNavAction{
	@extend %appNavItemActionLayout;
	&.appNavAction{ //--beat specificity of links in secondary area
		@include appNavItemActionColors();
	}
}
.appNavItemHash{
	@extend %appNavItemHashLayout;
}
.appNavItemText{
	@extend %appNavItemTextLayout;
}
.appNavList{
	@extend %appNavListLayout;
}
.appRestartNav{
	@extend %appNavAreaColors;
	@extend %appRestartNavLayout;
}

//--specific
.appBottomAction, .appMainAction, .appRestartAction, .appSiteNavAction{
	&:before{
		@extend %appNavItemIconLayout;
	}
}
.appBottomAction{
	&:before{
		@extend %icon-bottom;
	}
	&:after{
		content: 'Bottom';
	}
}
.appMainAction{
	&:before{
		@extend %icon-file-text;
	}
	&:after{
		content: 'Main';
	}
}
.appRestartAction{
	@extend %appRestartNavActionLayout;
	&:before{
		@extend %icon-top;
	}
	&:after{
		content: 'Top';
	}
}
.appSiteNavAction{
	&:before{
		@extend %icon-menu;
	}
	&:after{
		content: 'Nav';
	}
}
