.appNav{
	@extend %appNavAreaColors;
	@extend %appNavLayout;
}
.appNavItem{
	@extend %appNavItemLayout;
}
.appNavAction{
	@extend %appNavItemActionLayout;
	cursor: pointer;
	//==colors
	&.appNavAction{ //--beat specificity of links in secondary area
		@include appContainerColors;
		background: none;
		color: map-get($colors, primaryLinkFG);
		color: var(--primaryLinkFG);
		text-decoration-color: rgba(map-get($colors, primaryLinkFG), 0.4);
		text-decoration-color: var(--primaryLinkDecorationFG);
		@include supports('app-grid'){
			@include primaryAreaColors;
		}
	}
}
.appNavItemHash{
	@extend %appNavItemHashLayout;
}
.appNavItemText{
	@extend %appNavItemTextLayout;
}
.appNavList{
	@extend %appNavListLayout;
}
.appRestartNav{
	@extend %appNavAreaColors;
	@extend %appRestartNavLayout;
}

//--specific
.appBottomAction, .appMainAction, .appRestartAction, .appSiteNavAction{
	&:before{
		@include appNavItemIconLayout();
		@extend %icon-base-color;
	}
}
.appBottomAction{
	&:before{
		@extend %icon-bottom;
	}
	&:after{
		content: 'Bottom';
	}
}
.appMainAction{
	&:before{
		@extend %icon-file-text;
	}
	&:after{
		content: 'Main';
	}
}
//--hide unfocused skip link from sighted users
.appNavItem:first-child:not(:focus-within){
	@extend %sro;
}
.appRestartAction{
	@extend %appRestartNavActionLayout;
	&:before{
		@extend %icon-top;
	}
	&:after{
		content: 'Top';
	}
}
.appSiteNavAction{
	&:before{
		@extend %icon-menu;
	}
	&:after{
		content: 'Nav';
	}
}
