.a--nav{
	@extend %appNavAreaColors;
	@extend %appNavAreaLayout;
	border-width: 3px;
	border-bottom-style: solid;
	order: 2;
	padding: 0;
	@include supports('sticky-nav'){
		background: var(--chromeHeaderBG);
		padding-left: 6.5em;
		position: sticky;
		top: 0;
		z-index: 101;
	}
	@include supports('app-grid'){
		align-self: start;
		border: 0;
		grid-area: appNav;
		padding: 0;
		z-index: 101;
		@include supports('stickyGrid'){
			margin-top: calc(-3px - 4em);
			position: sticky;
			top: 0;
			//--accomodate restart nav
			&[data-js]{
				margin-top: 0;
				top: calc(3px + 4em);
			}
		}
	}
	&:focus-within{
		//--put above other nav when focused inside, ensures focus outline not cut off
		z-index: 106;
	}
}
a--navi{
	@extend %appNavItemLayout;
	&:focus-within{
		//--put above other nav when focused inside, ensures focus outline not cut off
		z-index: 106;
	}
}
.a--nava{
	background: none;
	display: inline-block;
	font-size: 0.75em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-align: center;

	//--undo native button styles
	border: 0;
	font-family: inherit;
	line-height: inherit;
	padding: 0.4em 0.5em;

	&:focus, &:hover{
		text-decoration: underline;
	}
	@include supports('tiny'){
		min-width: 5em;
	}
	@include supports('app-grid'){
		border-style: solid;
		border-width: 3px;
		display: block;
		text-align: center;
		transition: max-width 0.2s;
		white-space: nowrap;
		width: 100%;
		&:focus, &:hover{
			text-decoration: none; //--override
			max-width: $appNavWidth * 1em;
		}
	}
	//--when we can expand to the left instead of right

	cursor: pointer;
	//==colors
	&.a--nava{ //--beat specificity of links in secondary area
		@include appContainerColors;
		@include primaryAreaColors;
		text-decoration-color: rgba(map-get($colors, primaryLinkFG), 0.4);
		text-decoration-color: var(--primaryLinkDecorationFG);
	}
}
a--navt{
	display: block;
}
.a--navl{
	margin: 0;
	padding: 0 0.8em;
	@include supports('app-grid'){
		padding: 0;
	}
}
.a--navr{
	@extend %appNavAreaColors;
	@extend %appNavAreaLayout;
	@extend %appNavItemLayout;
	margin: 0;
	order: 20;
	@include supports('fixed-nav', 'sticky-nav'){
		align-self: end;
		-webkit-align-self: flex-end; //-# autoprefixer seems to get this wrong
		border-style: solid;
		border-width: 3px;
		border-right: 0;
		bottom: -3px; //--hide bottom border until the bottom
		$bottomMargin: -2.9em; //--suck down even with end logo
		$topMargin: -3px; //--don't show top border when unstuck
		margin: $topMargin 0 $bottomMargin;
		padding: 0;
		position: sticky;
		z-index: 100;
	}
	//--for no-grid wvp
	@include supports('fixed-nav'){
		margin: 0;
		position: fixed;
		right: 0;
	}
	@include supports('app-grid'){
		align-self: end;
		border: 0;
		bottom: auto;
		grid-area: appRestart;
		$rightMargin: -3px; //--duplicated from `appNavAreaLayout` because of order
		margin: 0 $rightMargin 0 0;
		padding: 0;
		top: 0;
		z-index: 104;
		@include supports('stickyGrid'){
			position: sticky;
		}
	}
}

//--specific
.a--nava{
	&:before{
		@extend %icon-base-color;
	}
}
.a--navba{
	&:before{
		@extend %icon-bottom;
	}
}
.a--navma{
	&:before{
		@extend %icon-file-text;
	}
}
//--hide unfocused skip link from sighted users
a--navi:first-child:not(:focus-within){
	@extend %sro;
}
.a--navra{
	@include supports('fixed-nav', 'sticky-nav'){
		padding: 0.25em 0.75em;
	}
	@include supports('app-grid'){
		padding: 0.4em 0.5em;
	}

	&:before{
		@extend %icon-top;
	}
}
.a--navsa{
	&:before{
		@extend %icon-menu;
	}
}
