.app{
	@extend %appLayout;
	//==colors
	@include mq(map-get($bp, appWidth)){
		border-color: map-get($colors, border);
		border-color: var(--borderColor);
	}
	//==shadow
	@include supports('app-shadow'){
		position: relative;
		&:before{
			@include appShadow();
			@include supports('app-grid'){
				left: 3.25em;
			}
		}
	}
}
body{
	@include grit($position: relative);
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-width: none; //--undo ancient styles
	padding: 0 0 0.5em;
	width: auto; //--undo ancient styles
	@include mq('print'){
		display: block;
	}

	//==colors
	accent-color: var(--linkFocusFG);
	background: none; //--override ancient
	color: map-get($colors, baseFG);
	color: var(--baseFG);

	//==fonts
	@extend %font-base;
	line-height: 1.6;
}
html{
	padding: 0;
	// position: relative;
	//==colors
	background: map-get($colors, baseBG);
	background: var(--baseBG);
}

