.app{
	@extend %appColors;
	@extend %appLayout;
}
body{
	@extend %appBodyColors;
	@extend %appFonts;
	@extend %appGrungeChild;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-width: none; //--undo ancient styles
	padding: 0 0 0.5em;
	position: relative;
	width: auto; //--undo ancient styles
	@include mq('print'){
		display: block;
	}
}
html{
	@extend %appDocColors;
	@extend %appGrunge;
	padding: 0;
	// position: relative;
}

//==bg
.appBG{
	opacity: 0.05; //-# out here to prevent flash when crossing breakpoint
	@include mq(map-get($bp, wide)){
		@include fullContainerCover();
		background: url('/_assets/webStuff.jpg') left top;
		content: ' ';
		transition: opacity 1.8s ease /* 0.2s*/;
		&:hover{
			opacity: 0.60;
			@include supports('dark-theme'){
				opacity: 0.40;
			}
		}
	}
}
