.app{
	@extend %appColors;
	@extend %appLayout;
}
body{
	@extend %appBodyColors;
	@extend %appFonts;
	@extend %appGrungeChild;
	accent-color: var(--linkFocusFG);
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-width: none; //--undo ancient styles
	padding: 0 0 0.5em;
	position: relative;
	width: auto; //--undo ancient styles
	@include mq('print'){
		display: block;
	}
}
html{
	@extend %appDocColors;
	@extend %appGrunge;
	padding: 0;
	// position: relative;
	@include mq('print'){
		height: auto !important;
	}
}
