.appHeader{
	@extend %appHeaderColors;
	@extend %appHeaderLayout;
}
.appLogo, .appHeaderTagline{
	display: inline-block;
	vertical-align: middle;
}
.appHeaderMessage{
	background: map-get($colors, baseFG);
	background: var(--baseFG);
	border: 2px solid;
	color: var(--baseBG);
	margin: 0.4em auto -1.5em;
	padding: 0.1em 0.5em;
	text-align: center;
	width: fit-content;
	@include mq(map-get($bp, small)){
		margin-bottom: -2.2em;
	}
	a{
		color: inherit;
		text-decoration: none;
	}
}
.appHeaderTagline{
	@extend %wiggleHoverAnimation;
	transform-origin: left;
}
.appHeaderTaglineWVP{
	display: none;
	@include mq(map-get($bp, small)){
		display: inline;
	}
}
%appLogoBase{
	@extend %font-bold;
	color: map-get($colors, chromeLogo);
	color: var(--chromeLogo);
	font-size: map-get($fontSizes, logo);
}
.appLogo{
	@extend %appLogoBase;
	@extend %spinHoverAnimation;
	margin: -0.3em 0;
	@include mq(map-get($bp, logoTwist)){
		transform: rotate(-15deg) translate(5px, -1px);
	}
}
.appLogoAction{
	text-decoration: none;
	&:focus:focus, &:hover:hover{
		//--fight default link styles
		background: none;
	}
	@include mq('print'){
		&:after, &:before{
			display: none;
		}
	}
}
