.appHeader{
	@include grit($pseudo: before);
	@extend %appContainerLayout;
	grid-area: head;
	order: 1;
	position: relative;
	text-align: center;
	z-index: 1;
	//---allow spinning logo to overflow
	@include mq(14){
		overflow: visible;
	}
	@include supports('sticky-header'){
		//--simulate top padding on nav that gets removed on scroll
		border-bottom-style: solid;
		border-bottom-width: 0.5em;
		//--ensure scroll paging takes into account approximate header height in ff, saf
		&:after{
			content: '';
			height: $appHeaderHeight;
			left: 0;
			pointer-events: none;
			position: fixed;
			right: 0;
			top: 0;
			z-index: -1;
		}
	}
	@include supports('app-grid'){
		border-bottom: 0;
		@include supports('sticky-header'){
			position: sticky;
			top: 0;
			z-index: 101;
		}
	}

	//==colors
	@extend %appContainerColors;
	@extend %tertiaryAreaColors;
	border-bottom-color: map-get($colors, primaryBG);
	border-bottom-color: var(--chromeHeaderBG);
	@include supports('dark-theme'){
		background: var(--chromeHeaderBG);
	}
}
.appLogo, .appHeaderTagline{
	display: inline-block;
	vertical-align: middle;
}
.appHeaderMessage{
	@include grit($position: relative);
	background: map-get($colors, baseFG);
	background: var(--baseFG);
	border: 2px solid;
	color: var(--baseBG);
	font-size: 0.9em;
	margin: 0.5em auto -1.5em;
	padding: 0.1em 0.5em;
	text-align: center;
	width: fit-content;
	z-index: 101;
	@include mq(map-get($bp, small)){
		margin-bottom: -2.2em;
	}
	@include mq('print'){
		border: 0;
		margin-bottom: -0.5em;
	}
	a{
		color: inherit;
		text-decoration: none;
		@include mq('print'){
			&:after, &:before{
				content: none !important;
			}
		}
	}
}
.appHeaderTagline{
	@extend %wiggleHoverAnimation;
	transform-origin: left;
}
.appHeaderTaglineWVP{
	display: none;
	@include mq(map-get($bp, small)){
		display: inline;
	}
}
%appLogoBase{
	@extend %font-bold;
	color: map-get($colors, chromeLogo);
	color: var(--chromeLogo);
	font-size: map-get($fontSizes, logo);
}
.appLogo{
	@extend %appLogoBase;
	@extend %spinHoverAnimation;
	margin: -0.3em 0;
	@include mq(map-get($bp, logoTwist)){
		transform: rotate(-15deg) translate(5px, -1px);
	}
}
.appLogoAction{
	text-decoration: none;
	&:focus:focus, &:hover:hover{
		//--fight default link styles
		background: none;
	}
	@include mq('print'){
		&:after, &:before{
			display: none;
		}
	}
}
