.appHeader{
	@extend %appContainerLayout;
	grid-area: head;
	order: 1;
	position: relative;
	//---allow spinning logo to overflow
	@include mq(14){
		overflow: visible;
	}

	//==colors
	@extend %appContainerColors;
	@extend %tertiaryAreaColors;
	background: var(--chromeHeaderBG);
}
.appHeaderContent{
	@include supports('tiny'){
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
	}
}
.appHeaderMessage{
	color: var(--messageFG);
	display: inline-block;
	font-size: 0.9em;
	a{
		color: inherit;
		text-decoration: none;
		@include mq('print'){
			&:after, &:before{
				content: none !important;
			}
		}
	}
}
.appHeaderTagline{
	@extend %wiggleHoverAnimation;
	transform-origin: left;
	@include supports('tiny'){
		margin: 0 auto 0 5.1em;
		position: relative;
		z-index: 103;
	}
}
.appHeaderTaglineWVP{
	display: none;
	@include mq(map-get($bp, small)){
		display: inline;
	}
}
%appLogoBase{
	@extend %font-bold;
	color: map-get($colors, chromeLogo);
	color: var(--chromeLogo);
	font-size: map-get($fontSizes, logo);
}
.appLogo{
	@extend %appLogoBase;
	@extend %spinHoverAnimation;
	background: var(--chromeHeaderBG);
	@include supports('tiny'){
		margin-left: -0.3em;
		padding: 0 0.3em;
		position: absolute; position: fixed;
		top: 0.6em;
		z-index: 102;
	}
	@include mq(map-get($bp, logoTwist)){
		transform: rotate(-15deg) translate(5px, -1px);
	}
}
.appLogoAction{
	margin-right: auto;
	text-decoration: none;
	&:focus:focus, &:hover:hover{
		//--fight default link styles
		background: none;
	}
	@include mq('print'){
		&:after, &:before{
			display: none;
		}
	}
}

