.appMain{
	border-bottom-style: solid;
	border-width: 3px;
	grid-area: main;
	order: 3;
	view-transition-name: main;
	@include supports('app-grid'){
		border-left-style: solid;
		border-right-style: solid;
	}
	@include mq('print'){
		border: 0;
	}

	//==colors
	@extend %appContainerColors;
	@extend %secondaryAreaColors;
}
a[name="appMain"]{
	@include supports('sticky-header'){
		position: relative;
		top: -1 * $appHeaderHeight;
	}
}
.appMainFooter, .appMainHeader{
	@extend %appContainerLayout;
	@include remFallback('padding-bottom', 16px);
	@include remFallback('padding-top', 16px);
}
.appMainFooter{
	border-width: 3px;
	* + &{
		border-top-style: solid;
	}

	//==colors
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
.appMainHeader{
	//==colors
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
.mainItem{
	@extend %mainItemColors;
	@extend %mainItemLayout;
}
.mainItemContent{
	@extend %mainItemContentLayout;
}
.mainItemHeader{
	@extend %mainItemHeaderLayout;
}
.mainItemMeta{
	@extend %mainItemMetaLayout;
}
