@mixin siteNavIconColors(){
	filter: invert(95%) sepia(70%) saturate(388%) hue-rotate(71deg);
	@include supports('dark-theme'){
		filter: invert(40%) sepia(70%) saturate(388%) hue-rotate(71deg);
	}
}
.siteNav{
	@extend %appContainerLayout;
	@extend %secondaryAreaColors;
	@include supports('dark-theme'){
		background: var(--navBG);
	}
	padding: 1.5em;
	font-size: 1.2em;
	&Action{
		display: inline-block;
		text-decoration: none;
		white-space: nowrap;
		@include mq('print'){
			white-space: normal;
		}
	}
	&Item{
		padding: 0 0.5em;
		* + &{
			margin-top: 0.6em;
		}
	}
	&List{
		list-style: none;
		margin: 0;
		padding: 0;
		* + &{
			margin-top: 0.6em;
		}
		& &{
			border-left: 3px solid;
			margin-left: 0.7em;
			padding-left: 0.4em;
		}
	}
}
//-! can probably extract some of these styles into more general form styles
$siteNavSearchWidth: 13em;
.siteNavSearch{
	width: $siteNavSearchWidth;
	max-width: 100%;
	position: relative;
	@include mq('print'){
		display: none;
	}
	> button{
		background: none;
		border: 0;
		color: inherit;
		height: 100%;
		line-height: 100%;
		padding: 0 0.5em;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		&:before{
			$size: 20;
			@include icon-search($size);
			@include siteNavIconColors();
			@include remFallback('height', $size);
			vertical-align: middle;
			@include remFallback('width', $size);
		}
		&:focus, &:hover{
			background-color: rgba(map-get($colors, secondaryFG), 0.3);
			background-color: var(--navActionFocusFG);
			&:before{
				animation-name: none;
			}
		}
		> span{
			@extend %sro;
		}
	}
	input{
		appearance: none;
		background: none;
		border: 1px solid;
		color: inherit;
		padding: 0.25em 1.75em 0.25em 0.25em;
		width: $siteNavSearchWidth;
		background: map-get($colors, secondaryBG); //-# only needed for input to slide over subnav line
		background: var(--navInputBG);
		position: relative;

		//--animation base
		left: 0;
		transition: left 0.2s ease, max-width 0.2s ease, width 0.2s ease;

		//--highlight focus
		&:focus{
			box-shadow: inset 0 0 1.6em rgba(map-get($colors, secondaryFG), 0.3);
			box-shadow: inset 0 0 1.6em var(--navActionFocusFG);
		}
	}
	&Label{
		@extend %sro;
	}
}
//--animate slightly wider for more typing space, neat effect
//-# kind of bulky for the value add
//-# must keep button in same position or click event will miss it (happens on mouseup)
.siteNavSearch input:focus, .siteNavSearch:hover input{
	$widthDiff: 1.7em;
	left: -1 * $widthDiff;
	max-width: 130%;
	max-width: calc(100% + #{$widthDiff});
	width: #{$siteNavSearchWidth + $widthDiff};
}

//==icons
.siteNavAction{
	&:before{
		@extend %secondaryAreaIconColors;
		content: '»';
		margin-right: 0.8em;
		vertical-align: middle;
		@include mq('print'){
			margin: 0;
		}
	}
	&[data-type]{
		&:before{
			@include siteNavIconColors();
			margin-right: 0;
			@include icon-with-label();
		}
	}
	&[data-type='about']{
		&:before{
			@extend %icon-about;
		}
	}
	&[data-type='home']{
		&:before{
			@extend %icon-home;
		}
	}
	&[data-type='blog']{
		&:before{
			@extend %icon-writings;
		}
	}
}
