//==shared
%tertiaryAreaColors{
	background: map-get($colors, tertiaryBG);
	background: var(--tertiaryBG);
	color: map-get($colors, tertiaryFG);
	color: var(--tertiaryFG);
	a{
		color: map-get($colors, tertiaryLinkFG);
		color: var(--tertiaryLinkFG);
		text-decoration-color: rgba(map-get($colors, tertiaryLinkFG), 0.4);
		text-decoration-color: var(--tertiaryLinkDecorationFG);
	}
}
%secondaryAreaColors{
	background: map-get($colors, secondaryBG);
	background: var(--secondaryBG);
	color: map-get($colors, secondaryFG);
	color: var(--secondaryFG);
	a{
		color: map-get($colors, secondaryLinkFG);
		color: var(--secondaryLinkFG);
		text-decoration-color: rgba(map-get($colors, secondaryLinkFG), 0.4);
		text-decoration-color: var(--secondaryLinkDecorationFG);
		&:focus, &:hover{
			background: rgba(map-get($colors, secondaryLinkFocusBG), 0.3);
			background: var(--secondaryLinkFocusBG);
			color: map-get($colors, secondaryLinkFocusFG);
			color: var(--secondaryLinkFocusFG);
			text-decoration-color: map-get($colors, secondaryLinkFocusFG);
			text-decoration-color: var(--secondaryLinkFocusFG);
		}
	}
}
%secondaryAreaIconColors{
	color: map-get($colors, secondaryFG);
	color: var(--secondaryFG);
}
@mixin primaryAreaColors(){
	background: map-get($colors, primaryBG);
	background: var(--primaryBG);
	color: map-get($colors, primaryFG);
	color: var(--primaryFG);
}
%primaryAreaColors{
	@include primaryAreaColors;
	a{
		color: map-get($colors, primaryLinkFG);
		color: var(--primaryLinkFG);
		text-decoration-color: rgba(map-get($colors, primaryLinkFG), 0.4);
		text-decoration-color: var(--primaryLinkDecorationFG);
	}
}

//==specific
@mixin appContainerColors(){
	border-color: map-get($colors, border);
	border-color: var(--mainBorder);
}
%appContainerColors{
	@include appContainerColors;
}
%appNavAreaColors{
	@extend %appContainerColors;
	@extend %primaryAreaColors;
}
%contentAreaColors{
	@extend %primaryAreaColors;
	a{
		@extend %highlightedBGActions;
		&:visited{
			color: map-get($colors, linkFGVisited);
			color: var(--linkVisitedFG);
		}
		&:active, &:focus, &:hover{
			color: map-get($colors, linkFGFocus);
			color: var(--linkFocusFG);
			text-decoration-color: map-get($colors, linkFGFocus);
			text-decoration-color: var(--linkFocusFG);
		}
		&:active{
			color: map-get($colors, linkFGActive);
			color: var(--linkActiveFG);
		}
	}
	p{
		&:first-letter{
			color: map-get($colors, strong);
			color: var(--strongFG);
			font-weight: bold;
			@include mq('print'){
				color: #000000;
			}
		}
	}
}
%mainItemColors{
	@extend %appContainerColors;
	@extend %contentAreaColors;
}
